<div class="box box--table">
  <div class="box__body box__body--bg">

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Number of Dossiers</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.numberOfDossiers.value | perc:0}}
        </p>
      </div>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">GBV</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.gbv.value | curr}}B
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">NBV</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.nbv.value | curr}}B
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">RAROC</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.raroc.value | perc}}
        </p>
      </div>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Weighted average Internal Rating</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.weightedAverageInternalRating.value}}
        </p>
      </div>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Weighted average Pricing</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.weightedAveragePricing.value | perc:1}}
        </p>
      </div>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Time to Weighted Average Duration</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.timeToWeightedAverageDuration.value | dec:0}}Y
        </p>
      </div>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Weighted Average Duration</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.weightedAverageDuration.value | dec:0}}Y
        </p>
      </div>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Regulatory Total Capital</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.regulatoryTotalCapital.value | curr}}M
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
    </div>

  </div>
</div>
