<div style="border: 1px solid #FFFFFF">
    <h6>Time Shift</h6> <!-- #HC -->
    <h1><i class="icol ico-info-circle"></i>Daily Life</h1> <!-- #HC -->
    <ul>
      <li>
        <span>Daily Life</span> <!-- #HC -->
        <span style="display: inline-block; background-color: #3A99D8; width: 5px; height: 11px;"></span>
        <span>{{config.daylife.value | perc:0 }}%</span> 
        <span> {{config.daylifeGrowth3Y.value | perc:0 }}%</span>
        <span> 3 Years</span> <!-- #HC -->
      </li>
      <li>
        <span>Night Life</span> <!-- #HC -->
        <span style="display: inline-block; background-color: #FC0D1B; width: 5px; height: 11px;"></span>
        <span>{{config.nightlife.value | perc:0 }} %</span>
        <span>{{config.nightlifeGrowth3Y.value | perc:0 }}% </span>
        <span> 3 Years</span> <!-- #HC -->
      </li>
    </ul>
  </div>
  