<app-report-selector></app-report-selector>

<div class="box box--table">
  <div class="box__header box__header--bg">
    <div class="d-flex flex-row justify-content-between">
      <div class="title--compound">
        <div class="main__title">
          <span class="u-strong u-uppercase"> Vehicles </span> <!-- #HC -->
        </div>
      </div>
    </div>
  </div>
  <div class="box__body box__body--bg">
      <div  class=" cell__wrapper cell__wrapper--bg-dark">
          <span  class="label__up label--color">
              Average Vehicle price
          </span>
          <div  class="highlighted--big highlighted--color"
          [appNum]="config.averagePrice.value"
          [showUnit]="true"
          [unitSmall]="true"
          unitClass="u-uppercase highlighted__small--color">
          </div>
        </div>




    <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="table">
        <div class="table-row">
          <span>{{ config.greater100K.label }}</span>
          <span> {{ config.greater100KVsMilanPerc.value | perc:0 }}%</span>
          <span class="color--secondary"> {{ config.greater100KVsMilanPerc.label }}</span>
        </div>
        <div class="table-row">
          <span>{{ config._80K.label }}</span>
          <span> {{ config._80KVsMilanPerc.value | perc:0 }}%</span>
          <span class="color--secondary"> {{ config._80KVsMilanPerc.label }}</span>
        </div>
        <div class="table-row">
          <span>{{ config._60K.label }}</span>
          <span> {{ config._60KVsMilanPerc.value | perc:0 }}%</span>
          <span class="color--secondary"> {{ config._60KVsMilanPerc.label }}</span>
        </div>
        <div class="table-row">
          <span>{{ config._40K.label }}</span>
          <span> {{ config._40KVsMilanPerc.value | perc:0 }}%</span>
          <span class="color--secondary"> {{ config._40KVsMilanPerc.label }}</span>
        </div>
        <div class="table-row">
          <span>{{ config._20K.label }}</span>
          <span> {{ config._20KVsMilanPerc.value | perc:0 }}%</span>
          <span class="color--secondary"> {{ config._20KVsMilanPerc.label }}</span>
        </div>
        <div class="table-row">
          <span>{{ config.smaller20K.label }}</span>
          <span> {{ config.smaller20KVsMilanPerc.value | perc:0 }}%</span>
          <span class="color--secondary"> {{ config.smaller20KVsMilanPerc.label }}</span>
        </div>
      </div>
    </div>
  </div>
</div>




