// --------------------------------------------------
//
// INDEX
//
//  #MIXINS
//    =line-clamp
//
//  #EXAMPLES
//    [+1] multiple line clamp with custom line count
//    [+2] multiple line clamp with custom line count and defined line-height
//
// --------------------------------------------------


// --------------------------------------------------
// #MIXINS
// --------------------------------------------------

// =line-clamp
@mixin line-clamp($_line-count: 1, $font_size: $font-size--default , $_line-height: $line-height__base, $fix-height: false) {
  @if $_line-count == 1 {
    white-space: nowrap;
  }
  @else {
    line-height: $_line-height;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $_line-count;
    -webkit-box-orient: vertical;
    @if $fix-height == true {
      height: calc(#{$_line-height} * #{$_line-count} * #{$font_size}) ;
      max-height: calc(#{$_line-height} * #{$_line-count} * #{$font_size}) ;
      background-color: red;
    }
    @else { 
      max-height: calc(#{$_line-height} * #{$_line-count} * #{$font_size}) ;
      background-color: green;
    }
  }

  

  overflow: hidden;
  text-overflow: ellipsis;
}




// --------------------------------------------------
// #EXAMPLES
// --------------------------------------------------

// [+1] multiple line clamp with custom line count
// @include line-clamp(3);

// [+2] multiple line clamp with custom line count and defined line-height
// @include line-clamp(3, 20px);
