<app-report-selector></app-report-selector>
<div class="box box--table">
  <div class="box__header box__header--bg">
    <div class="d-flex flex-row justify-content-between">
      <div class="title--compound">
        <div class="main__title">
          AVG Occupancy Rate
        </div>
        <div class="secondary__title">
          Short Term Rental Assets
          <p>
            AirBnB Data
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="box__body box__body--bg">
    <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="highlighted--huge highlighted--color">
        {{config.avgOccupancyRate.value | perc:1}}
        <small class="u-uppercase highlighted__small--color">%</small>
      </div>
      <div class="perc-bar">
        <div class="perc-bar__percentage" [style.width.%]="config.avgOccupancyRate.value | perc:1">
          <div class="perc-bar__percentage__5y" style="width: 9.7%"></div>
          <div class="perc-bar__percentage__1y" style="width: 4.2%"></div>
        </div>
      </div>
    </div>
    <div class=" cell__wrapper cell__wrapper--bg-light list-simple">
      <div>
        <span class="text--success">
          {{config.growth1Y.value | perc:1 }}%
        </span>
        <small class="highlighted__small--color">
          {{ config.growth1Y.label }}
        </small>
      </div>
      <div>
        <span class="text--success">
          {{config.growth5Y.value | perc:1 }}%
        </span>
        <small class="highlighted__small--color">
          {{config.growth5Y.label}}
        </small>
      </div>
    </div>
  </div>
</div>
