<app-report-selector></app-report-selector>
<div class="box box--bg box--table box--table--small">
    <div class="box__body box__body--bg">
      <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
        <div class="cell__wrapper__top">
          <span class="label__up label--color">
              {{ config.totalLoansOriginalValue.label }}
          </span>
        </div>
        <div class="cell__wrapper__info">
          <p class="highlighted--medium highlighted--color">
              {{ config.totalLoansOriginalValue.value | curr }}
            <small class="u-uppercase highlighted__small--color">
                M€
            </small>
          </p>
        </div>
      </div>

      <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
        <div class="cell__wrapper__top">
          <span class="label__up label--color">
              {{ config.currentClientsExposure.label }}
          </span>
        </div>
        <div class="cell__wrapper__info">
            <p class="highlighted--medium highlighted--color">
                {{ config.currentClientsExposure.value | curr}}
                <small class="u-uppercase highlighted__small--color">
                M€
              </small>
            </p>
          </div>
      </div>

  </div>
</div>
