<div class="position-row__container">
    <div class="position-row__title">{{ position?.name }}</div>
    <div class="position-row__loan">{{ position?.loanType }}</div>
    <div class="position-row__time">
        {{ position?.dateStart }} > {{ position?.dateEnd }}
        > {{ position?.dateEnd }}
    </div>
    <div class="position-row__state">
        <span class="u-uppercase">{{ position?.state }}</span>
    </div>
    <ul class="position-row__info">
        <li *ngFor="let info of position?.infos">
            <div>{{ info?.title }}</div>
            <div class="u-strong">{{ info?.data }}</div>
        </li>
    </ul>
    <div class="position-row__button" (click)="goToDashboard(position?.id)">
        View
    </div>
</div>
