<h1>{{ config.left_component.title }}</h1>
<div style="display:flex;">
    <div *ngFor="let item of config.left_component.items">
        <div class="img"><img src="{{ item.img }}" /></div>
    </div>
    <div>
        <div>
            <p>{{ config.right_component.title }}</p>
            <p>
                <a href="{{config.right_component.location.estate[1]}}">{{
                    config.right_component.location.estate[0]
                }}</a>
            </p>
            <div *ngIf="config.right_component.status === 'renovated'">
                <span>o</span> <span> {{ config.right_component.status }}</span>
            </div>
            <p>{{ config.right_component.category }}</p>
            <p>{{ config.right_component.location.label }}</p>
            <p>
                {{ config.right_component.location.address[0] }}
                {{ config.right_component.location.address[1] }}
                {{ config.right_component.location.address[2] }}
            </p>
        </div>
        <div>
            <div>
                <p>Price in to</p>
                <p>
                    {{ config.right_component.info.price[0] }}
                    {{ config.right_component.info.price[1] }}
                </p>
            </div>
            <div>
                <p>Estimated price today</p>
                <p>
                    {{ config.right_component.info.estimated[0] }}
                    {{ config.right_component.info.estimated[1] }}
                </p>
            </div>
            <div>
                <p>Asset Area</p>
                <p>
                    {{ config.right_component.info.area[0] }}
                    {{ config.right_component.info.area[1] }}
                </p>
            </div>
            <div>
                <p>Price per SQM</p>
                <p>
                    {{ config.right_component.info.pricePsm[0] }}
                    {{ config.right_component.info.pricePsm[1] }}
                </p>
            </div>
        </div>
    </div>
</div>
