<app-report-selector></app-report-selector>
<div style="border: 1px solid #FFFFFF">
  <h6>Type of neighbourhood</h6> <!-- #HC -->
  <h1><i class="icol ico-info-circle"></i> {{ config.modeTypeOfNeighborhood.value }}</h1>
  <ul>
    <li>
      <span>Residential</span>
      <span style="display: inline-block; background-color: #8FC0A9; width: 5px; height: 11px;"></span>
      <span>{{config.residential.value | perc:0}} %</span> .
      <span># {{config.absResidential.value | number:'1.0-0'}}</span><!-- #HC -->
    </li>
    <li>
      <span>Retail</span>
      <span style="display: inline-block; background-color: #E49D89; width: 5px; height: 11px;"></span>
      <span>{{config.retail.value | perc:0}} %</span> .
      <span># {{config.absRetail.value | number:'1.0-0'}}</span><!-- #HC -->
    </li>
    <li>
      <span>Hospitality</span>
      <span style="display: inline-block; background-color: #769A9F; width: 5px; height: 11px;"></span>
      <span>{{config.hospitality.value | perc:0}} %</span> .
      <span># {{config.absHospitality.value | number:'1.0-0'}}</span><!-- #HC -->
    </li>
    <li>
      <span>Offices</span>
      <span style="display: inline-block; background-color: #DB6C68; width: 5px; height: 11px;"></span>
      <span>{{config.offices.value | perc:0}} %</span> .
      <span># {{config.absOffices.value | number:'1.0-0'}}</span><!-- #HC -->
    </li>
    <li>
      <span>Warehouses</span>
      <span style="display: inline-block; background-color: #6BA5FC; width: 5px; height: 11px;"></span>
      <span>{{config.warehouse.value | perc:0}} %</span> .
      <span># {{config.absWarehouse.value | number:'1.0-0'}}</span><!-- #HC -->
    </li>
    <li>
      <span>Factories</span>
      <span style="display: inline-block; background-color: #91809B; width: 5px; height: 11px;"></span>
      <span>{{config.factories.value | perc:0}} %</span> .
      <span># {{config.absFactories.value | number:'1.0-0'}}</span><!-- #HC -->
    </li>
  </ul>
</div>
