@import '~src/scss/imports';

alix-line,
alix-bar,
alix-area-basic,
alix-scatter,
alix-doughnut,
alix-area-stack {
  flex: 1;
  display: block;
  background: $color5;
  border-radius: $border-radius__default;
  @include shadow(card);
  .bg--light & {
    background: $color1;
  }
}
