<app-report-selector></app-report-selector>
<div>
  <div>
    <h3>Replacement Indicators</h3>
    <h6>Replacement is the effort to build a similar asset</h6>
  </div>
  <div style="display: flex;">
    <div>
      <h5>Exposure After Replacement</h5>
      <div>{{ config.exposureAfterReplacement.value | perc:1 }}%</div>
      <div>{{ config.timeReplacementIsFulfilled.value | number:'1.0-0' }} months of {{ config.timeReplacementIsFulfilled.label }}</div>
    </div>
  </div>

  <div style="display:flex;">
    <div>
      <span>{{ config.replacementCost.label }}</span>
      <span> {{ config.replacementCost.value | curr:0 }}k</span>
    </div>
    / 
    <div>
      <span>{{ config.replacementCostSqm.value | curr:0 }}k</span>
      <span> {{ config.replacementCostSqm.label }}</span>
    </div>
  </div>

  <div style="display:flex;">
    <div>
      <span>Market Price:</span>
      <span>{{ config.marketPrice.value | curr:0 }}</span>
    </div>
     /
    <div>
      <span>{{ config.marketPriceSqmForSale.value | curr:0 }}</span>
      <span> per SQM</span>
    </div>
  </div>

  <div style="display:flex;">
    <div>
      <span>{{ config.ltvLoanToValue.label }}</span>
      <span>{{ config.ltvLoanToValue.value | perc:0 }}%</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>Exposure:</span>
      <span>{{ config.exposure.value | curr:0 }}k</span>
    </div>
  </div>

  <div style="display:flex;">
    <div>
      <span>{{ config.exposureAfterReplacementAbs.label }}</span>
      <span>{{ config.exposureAfterReplacementAbs.value | curr:0 }}k</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>{{ config.exposureAfterReplacementPerc.label }}</span>
      <span>{{ config.exposureAfterReplacementPerc.value | perc:1 }}%</span>
    </div>
  </div>

  <div style="display:flex;">
    <div>
      <span>{{ config.monthlyInstallment.label }}</span>
      <span>{{ config.monthlyInstallment.value | curr:1}}k</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>{{ config.timeReplacementIsFulfilled.label }}</span>
      <span> {{ config.timeReplacementIsFulfilled.value | number:'1.0-0'}}</span>
    </div>
  </div>
</div>