<div style="display: flex; flex-direction: column; border: 1px solid #000000">
  <div>
    <h3>Replacement Indicators</h3>
    <h6>Replacement is the effort to build a similar asset</h6>
  </div>
  <div style="display: flex;">
    <div>
      <h5>Exposure After Replacement</h5>
      <div>{{ config.replacementIndicators.exposureAfterReplacement.value }}</div>
      <div>{{ config.replacementIndicators.timeReplacementIsFulfilled.value }} months of {{ config.replacementIndicators.timeReplacementIsFulfilled.label }}</div>
    </div>
  </div>

  <div style="display:flex;">
    <div>
      <span>{{ config.replacementIndicators.replacementCost.label }}</span>
      <span>{{ config.replacementIndicators.replacementCost.value }}</span>
    </div>
    / 
    <div>
      <span>{{ config.replacementIndicators.replacementCostSqm.value }}</span>
      <span>{{ config.replacementIndicators.replacementCostSqm.label }}</span>
    </div>
  </div>

  <div style="display:flex;">
    <div>
      <span>Market Price:</span>
      <span>{{ config.replacementIndicators.marketPrice.value }}</span>
    </div>
    /
    <div>
      <span>{{ config.replacementIndicators.marketPriceSqmForSale.value }}</span>
      <span>per SQM</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>{{ config.replacementIndicators.ltvLoanToValue.label }}</span>
      <span>{{ config.replacementIndicators.ltvLoanToValue.value }}</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>Exposure:</span>
      <span>{{ config.replacementIndicators.exposure.value }}</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>{{ config.replacementIndicators.exposureAfterReplacementAbs.label }}</span>
      <span>{{ config.replacementIndicators.exposureAfterReplacementAbs.value }}</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>{{ config.replacementIndicators.exposureAfterReplacementPerc.label }}</span>
      <span>{{ config.replacementIndicators.exposureAfterReplacementPerc.value }}</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>{{ config.replacementIndicators.monthlyInstallment.label }}</span>
      <span>{{ config.replacementIndicators.monthlyInstallment.value }}</span>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <span>{{ config.replacementIndicators.timeReplacementIsFulfilled.label }}</span>
      <span>{{ config.replacementIndicators.timeReplacementIsFulfilled.value }}</span>
    </div>
  </div>
</div>