:host {
  ul {
    margin-top: -20px;
    list-style: none;
  }
}


.container-fluid > .row {
  min-width: 1024px;
  max-width: 1260px;
  padding: 0;
  margin: 40px auto 20px;
 }

ul {
  padding: 0 20px;
}

.form-group {
  margin: 5px 0;
  label {
    padding: 0 0 3px 3px;
  }
}

.sidebar {
  position: fixed;
  top: 110px;
  width: 22%;
  max-width: 290px;
  min-width: 230px;
}