<div class="container-fluid">

  <section class="page-section bg--light">
    <div class="row">
      <div class="col-12">
        <h1 class="section-title">Extell Development</h1> <!-- #HC -->
      </div>
    </div>
    <div class="row">
      <div class="col-3">

        <div class="box box--table">
          <div class="box__header box__header--bg">
            <div class="d-flex flex-row justify-content-between">
              <div class="box__title title--compound">
                <h1 class="title">Key Financial</h1><!-- #HC -->
              </div>
            </div>
          </div>
          <div class="box__body box__body--bg">
            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">Risk Adjusted Return on Capital</span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  8.4
                  <small class="u-uppercase highlighted__small--color">%</small>
                </p>
              </div>
            </div>

            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">Regulatory Capital Absorted</span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  327
                  <small class="u-uppercase highlighted__small--color">K €</small>
                </p>
              </div>
            </div>

            <div class=" cell__wrapper cell__wrapper--bg-light">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">Expectedx Loss</span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  641
                  <small class="u-uppercase highlighted__small--color">K €</small>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-3">

        <div class="box box--table">
          <div class="box__header box__header--bg">
            <div class="d-flex flex-row justify-content-between">
              <div class="box__title title--compound">
                <h1 class="title">Position</h1>
              </div>
            </div>
          </div>
          <div class="box__body box__body--bg">
            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">loan Original Value</span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  11
                  <small class="u-uppercase highlighted__small--color">M €</small>
                </p>
              </div>
            </div>

            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">
                  Current Exposure
                </span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  6
                  <small class="u-uppercase highlighted__small--color">M €</small>
                </p>
              </div>
            </div>

            <div class="w-100"></div>

            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">
                  Time to Maturity
                </span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  12
                  <small class="u-uppercase highlighted__small--color__exception">y</small>
                  <small class="highlighted__small--color of">of</small>
                  <span class="highlighted__small--color">18</span>
                  <small class="highlighted__small--color u-uppercase">y</small>
                </p>
              </div>
            </div>

            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
              <div class="cell__wrapper__info">
                <div class="table__simple">
                  <div class="table__row">
                    <span class="cell__title">Started:</span>
                    <span class="cell__information">1 Nov 2012</span>
                  </div>
                  <div class="table__row">
                    <span class="cell__title">Ended:</span>
                    <span class="cell__information">1 Nov 2028</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>



      </div>
      <div class="col-3">
        <div class="box box--table">
          <div class="box__header box__header--bg">
            <div class="d-flex flex-row justify-content-between">
              <div class="box__title title--compound">
                <h1 class="title">Duration</h1>
              </div>
            </div>
          </div>
          <div class="box__body box__body--bg">
            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">Exposure Until Duration</span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  21
                  <small class="u-uppercase highlighted__small--color">M €</small>
                </p>
              </div>
            </div>

            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">
                  Time to Duration Date
                </span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  6
                  <small class="u-uppercase highlighted__small--color">M €</small>
                </p>
              </div>
            </div>

            <div class="w-100"></div>

            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
              <div class="cell__wrapper__top">
                <span class="label__up label--color">
                  Time to Maturity
                </span>
              </div>
              <div class="cell__wrapper__info">
                <p class="highlighted--big highlighted--color">
                  6
                  <small class="u-uppercase highlighted__small--color__exception">y</small>
                  <small class="highlighted__small--color of">of</small>
                  <span class="highlighted__small--color">12</span>
                  <small class="highlighted__small--color u-uppercase">y</small>
                </p>
              </div>
            </div>

            <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
              <div class="cell__wrapper__info">
                <div class="table__simple">
                  <div class="table__row">
                    <span class="cell__title">Started:</span>
                    <span class="cell__information">1 Nov 2012</span>
                  </div>
                  <div class="table__row">
                    <span class="cell__title">Ended:</span>
                    <span class="cell__information">1 Nov 2028</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-3">
        <!-- <app-panel-7 [config]="config.financial.collateral"></app-panel-7> -->
      </div>
    </div>
  </section>

  <div class="row no-gutters">
    <div class="col">
      <!-- <h1 class="section-title">Positions</h1> -->
      <ul>
        <li *ngFor="let company of companies">
          <app-position-list-row [company]="company"></app-position-list-row>
        </li>
      </ul>
    </div>
  </div>
</div>
