<app-report-selector></app-report-selector>
<div class="box box--table">
  <div class="box__header box__header--bg">
    <div class="row-justified">
      <div class="title--compound">
        <div class="main__title">
          <span class="u-strong u-uppercase">
              Street Condition
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="box__body box__body--bg">
    <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="row-list--medium row-list__title">
        <i class="icon--big icol ico-map-marked-alt"></i>
        <span class="row-list__text ">
          Excellent
        </span>
      </div>
    </div>
    <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="table">
        <div class="table-row">
          <span>XXI Century</span>
          <span><span class="square" style="background-color: #05E900"></span></span>
          <span>{{config.xxiCentury.value | perc:0 }} %</span>
          <span>{{config.xxiCenturyGrowth3Y.value | perc:0 }}%</span>
          <span> 3 Years</span> <!-- #HC -->
        </div>
        <div class="table-row">
            <span>XX Century</span>
            <span><span class="square" style="background-color: #3A99D8"></span></span>
            <span>{{config.xxCentury.value | perc:0 }} %</span>
            <span>{{config.xxCenturyGrowth3Y.value | perc:0 }}% </span>
            <span> 3 Years</span> <!-- #HC -->
        </div>
        <div class="table-row">
            <span>
                < XX Century>
            </span>
            <span><span class="square" style="background-color: #FC0D1B"></span></span>
            <span>{{ config.beforeXxCentury.value | perc:0 }} %</span>
            <span>{{ config.beforeXxCenturyGrowth3Y.value | perc:0 }}% </span>
            <span> 3 Years</span> <!-- #HC -->
        </div>
      </div>
  </div>
</div>