// ------------------------------------------------------------------
//
// INDEX
//
//  #IMPORTS
//
//  #VARS
//
//  #STYLES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// +/core
@import '~src/scss/imports';





// ------------------------------------------------------------------
// #VARS
// ------------------------------------------------------------------

// $color
$color__text_highlighted: #FFFFFF;
$color__text_label: #CED6FF;
$color__text_table: #CED6FF;
$text__secondary-color: #8D8C8D !important;
$amount: 40;



h2.deleteMe {
  border-bottom: 1px solid white;
  display: block;
  width: 100%;
}


// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// .block {
//   @include align(column middle center between);
//   font-family: $font-family--primary;
// }

// styles

.uppercase { text-transform: uppercase }


.text__secondary { color: $text__secondary-color}


// tags
@import '~src/scss/imports';

.tags {
  padding: 6px 15px;
  font-size: rem(12px);
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  letter-spacing: $letter-spacing--2;
  border-radius: 3px;
}

.tags--green {
  background-color: #6AC427;
  color: $body__color__text
 }


// Labels
@import '~src/scss/imports';

.label__up {
  vertical-align: bottom;
}

.label__up,
.label__down {
    font-size: rem(11px);
    color: $color__text_label;
    font-family: $font-family--primary;
    font-weight: $font-weight--normal;
    text-transform: uppercase;
    @include line-clamp(2, rem(11px));
  }



// highlighted number
.highlighted_kpi {
  font-size: $font-size--jumbo;
  font-family: $font-family--primary;
  font-weight: $font-weight--thin;
  color: $color__text_highlighted;
  line-height: $font-size--jumbo;
  small {
    font-weight: $font-weight--thin;
    font-size: $font-size--head-2;
    padding: 0 .1em;
    line-height: $font-size--head-2;
   }
   .of { padding: 0 .25em }
   small,
   span {
     display: inline-block
   }
}

// Title

.title {
    .title--primary {
      font-size: rem(16px);
      color: #00A6D9;
      font-family: $font-family--primary;
      font-weight: $font-weight--normal;
    }
    .u-strong { font-weight: $font-weight--bold }

    .title--secondary {
      font-size: rem(16px);
      color: $font-family--primary;
      font-family: $font-family--secondary;
      font-weight: $font-weight--bold;
    }
}

// table

.table--simple {
  display: table;
  .table__row {
     display: table-row;
    .tabel__cell-title {
      font-size: rem(12px);
      padding: 0 20px 0 0;
      font-family: $font-family--secondary;
      font-weight: $font-weight--bold;
      color: $color__text_table;
      display: table-cell;
    }
    .tabel__cell-information {
      font-size: rem(12px);
      font-family: $font-family--secondary;
      font-weight: $font-weight--thin;
      color: $color__text_table;
      display: table-cell;
    }
  }
}

// box

$box-padding: 20px;

.box {
  padding: 0;
  background-color: red;
  .box--header {
    .title { padding: $box-padding }
    .icons { padding-top: $box-padding }
  }
}



$color1: #252B48;
$color2: #1C2038;
$color3: #252B48; 


.color-main {
  
  .color-header {

  }
  .color-body{
    .color-dark {

    }
    .color-light {

    }
  }
}


.box--table {
  .box--body {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .cell__wrapper {
      padding: $box-padding;
      width: 50%;  
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .cell__wrapper__top {
        height: rem(32px);
        @include align(bottom);
        & + .cell__wrapper__info {
          margin-top: 0;
        }
      }
      .cell__wrapper__info {
        height: rem(48px);
        align-items: flex-start;
        margin-top: 33px;
        .tags { 
          margin-top: 10px;
          display: inline-block
        }
      }
    }  
  }

}







.bg-purple { background-color: purple }
.bg-blue { background-color: blue }
.bg-orange { background-color: orange }
.bg-green { background-color: green }
