<div class="container">
  <h1>Final:</h1>

  <div class="row">
    <h2 class="deleteMe"> Cells </h2>
  </div>

  <div class="row">
    <div class="col-4">

      <h2 class="deleteMe"> Label Cell </h2>

      <div class="row">
        <div class="col-6 cell__wrapper">

          <div class="cell__wrapper__top">
            <span class="label__up label--color">Loan Original Values bla, Loan Original Values blaLoan Original Values bla, Loan Original Values bla</span>
          </div>
          <div class="cell__wrapper__info">
            <p class="highlighted--big highlighted--color">
              30.1
              <small class="u-uppercase highlighted__small--color">m€</small>
            </p>
          </div>
          <div class="cell__wrapper__bottom">
              <span class="label__down label__down--color">Loan Original Values bla</span>
          </div>
        </div>

        <div class="col-6 cell__wrapper">

          <div class="cell__wrapper__top">
            <span class="label__up label__top--color">Loan Original Values bla</span>
          </div>
          <div class="cell__wrapper__info">
            <p class="highlighted--big highlighted--color">
              30.1
              <small class="u-uppercase">m€</small>
            </p>
          </div>
          <div class="cell__wrapper__bottom">
            <span class="state-text"> -11% </span>
            <span class="state-text state-text--warning"> -11% </span>
            <span class="state-text state-text--success"> -11%  </span>
            <span class="state-text state-text--past"> -11%  </span>
            <span class="state-text state-text--danger"> -11% </span>
          </div>
        </div>

      </div>

    </div>


    <div class="col-4">

        <h2 class="deleteMe"> Label Cell highlighted medium </h2>
  
        <div class="row">
          <div class="col-6 cell__wrapper">
  
            <div class="cell__wrapper__top">
              <span class="label__up label__top--color">Loan Original Values bla, Loan Original Values blaLoan Original Values bla, Loan Original Values bla</span>
            </div>
            <div class="cell__wrapper__info">
              <p class="highlighted--medium highlighted--color">
                <small class="u-uppercase">to</small>
                0.22
                <small class="u-uppercase highlighted__small--color">%</small>
              </p>
            </div>
            <div class="cell__wrapper__bottom">
                <span class="label__down label__down--color">Loan Original Values bla</span>
            </div>
          </div>
  
          <div class="col-6 cell__wrapper">
  
            <div class="cell__wrapper__top">
              <span class="label__up label__top--color">Loan Original Values bla</span>
            </div>
            <div class="cell__wrapper__info">
              <p class="highlighted--medium highlighted--color">
                  <small class="u-uppercase">tcd</small>
                  3.1
                  <small class="u-uppercase highlighted__small--color">%</small>
              </p>
            </div>
            <div class="cell__wrapper__bottom">
              <span class="state-text"> -11% </span>
              <span class="state-text state-text--warning"> -11% </span>
              <span class="state-text state-text--success"> -11%  </span>
              <span class="state-text state-text--past"> -11%  </span>
              <span class="state-text state-text--danger"> -11% </span>
            </div>
          </div>
  
        </div>
  
      </div>





    <div class="col-3">
      <h2 class="deleteMe"> Time Cell </h2>
  
      <div class="table__simple">
        <div class="table__row">
          <div class="cell__title">Started</div>
          <div class="cell__information">15 Nov 2003</div>
        </div>
        <div class="table__row">
            <div class="cell__title">Maturity</div>
            <div class="cell__information">14 Nov 2021</div>
          </div>
      </div>
    </div>
  </div>



  <div class="row">
    <h2 class="deleteMe"> Tags </h2>
  </div>

  <div class="row">

    <span class="tags">Fully Paid</span>
    <span class="tags tags--warning">Bad Loan</span>
    <span class="tags tags--success">Performing</span>
    <span class="tags tags--past">Past Due Loan</span>
    <span class="tags tags--danger">Unlikely to Pay</span>
  </div>



  <div class="row">
    <div class="col-6">
      <h2 class="deleteMe"> Box title Compound </h2>
    
      <div class="title--compound">
        <div class="main__title">
          <span class="u-strong u-uppercase">grade a</span>
          Assets
        </div>
        <div class="secondary__title">
        in 1k Radius
        </div>
      </div>
    </div>
    <div class="col-6">
      <h2 class="deleteMe"> Box title Simple </h2>
      <h1 class="title">Long Term Rent Price</h1>
    </div>
  </div>

















  <div class="row">
    <h2 class="deleteMe"> Box - type__table</h2>
    <span>
      2 col: side by side
      <br/>
      the odd row has a different color
    </span>
  </div>

  <div class="row">
    <div class="box col-4 box--table">
      <div class="box__header">
        <div class="d-flex flex-row justify-content-between">
          <div class="box__title title--compound">
            <div class="main__title">
              <span class="u-strong u-uppercase">grade a</span>
              Assets
            </div>
            <div class="secondary__title">
            in 1k Radius
            </div>
          </div>
          <div class="icons">
            <i class="icol ico-file-alt"></i>
            <i class="icol ico-info-circle"></i>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="cell__wrapper">
          <div class="cell__wrapper__top">
            <span class="label__up label__top--color">Loan Original Values bla, Loan Original Values blaLoan Original Values bla, Loan Original Values bla</span>
          </div>
          <div class="cell__wrapper__info">
            <p class="highlighted--big highlighted--color">
              <span>30.1</span>
              <small class="u-uppercase">m€</small>
            </p>
          </div>
          <div class="cell__wrapper__bottom">
            <span class="label__down label__down--color">Loan Original Values bla</span>
          </div>
        </div>
        <div class="cell__wrapper">
          <div class="cell__wrapper__info">
            <div class="table__simple">
              <div class="table__row">
                <div class="cell__title">Started</div>
                <div class="cell__information">15 Nov 2003</div>
              </div>
              <div class="table__row">
                  <div class="cell__title">Maturity</div>
                  <div class="cell__information">14 Nov 2021</div>
              </div>
            </div>
          </div>

        </div>
        <div class="cell__wrapper">

          <div class="cell__wrapper__top">
            <span class="label__up label__top--color">Loan Original Values bla, Loan Original Values blaLoan Original Values bla, Loan Original Values bla</span>
          </div>
          <div class="cell__wrapper__info">
            <p class="highlighted--big highlighted--color">
              <span>75</span>
              <small class="u-uppercase">%</small>
            </p>
          </div>
          <div class="cell__wrapper__botton">
            <span class="label__down label__down--color text--success">-11%</span>
          </div>

        </div>
        <div class="cell__wrapper">

          <div class="cell__wrapper__top">
            <span class="label__up label__top--color">Loan Original Values bla </span>
          </div>
          <div class="cell__wrapper__info">
            <span class="tags tags__green">Performing</span>
          </div>
          <div class="cell__wrapper__bottom">
            <span class="label__down label__down--color">Loan Original Values bla</span>
          </div>

        </div>
      </div>
    </div>
  </div>


  <h2 class="deleteMe"> Box - type__List</h2>

<div class="box col-4 box__list">
  <div class="box__header">
    
    
  </div>
  <div class="box-body">

  
  </div>
</div>






<br />
<br />
<br />



<h1>WIP:</h1>

<div class="block">
  <div class="title">
    <span class="label__up label__top--color">1km Radius when long line go up</span>
  </div>
  <div class="d-flex flex-row">
    <p class="highlighted--big highlighted--color">
      <span>75</span>
      <span>€</span>
      <small>€</small>
    </p>
  </div>
  <div class="d-flex flex-row">
    <p class="highlighted--big highlighted--color">
      <span>75</span>
      <small class="uppercase highlighted">m</small>
      <small class="text__secondary of">of</small>
      <span class="text__secondary">5</span>
      <small class="text__secondary uppercase">y</small>
    </p>
  </div>
  <div class="d-flex flex-row">
    <span class="label__down label__down--color">€ SQM</span>
    <span class="label__down label__down--color text--success">-11%</span>
  </div>

  <div class="d-flex flex-row">
    <span class="label__up label__top--color text__secondary">status</span>
  </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

FAR FAR AWAY

<h2 class="deleteMe"> Box - type 1</h2>

<div class="row">
    <div class="box col-4 box--table">
      <div class="box-body">
        
      </div>
    </div>
  </div>






</div>