<div class="d-flex flex-row">
  <span class="label_up">1km Radius when long line go up</span>
</div>
<div class="d-flex flex-row">
  <p class="highlighted_kpi">
    <span>75</span>
    <span>€</span>
    <small>€</small>
  </p>
</div>
<div class="d-flex flex-row">
  <p class="highlighted_kpi">
    <span>75</span>
    <small class="uppercase highlighted">m</small>
    <small class="text-secondary of">of</small>
    <span class="text-secondary">5</span>
    <small class="text-secondary uppercase">y</small>
  </p>
</div>
<div class="d-flex flex-row">
  <span class="label_down">€ SQM</span>
  <span class="label_down text-success">-11%</span>
</div>

<div class="d-flex flex-row">
  <span class="label_up text-secondary">status</span>
</div>
