// ------------------------------------------------------------------
//
// INDEX
//
//  #IMPORTS
//
//  #VARS
//
//  #STYLES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// +/core
@import '~src/scss/imports';





// ------------------------------------------------------------------
// #VARS
// ------------------------------------------------------------------


h2.deleteMe {
  border-bottom: 1px solid white;
  display: block;
  width: 100%;
}


// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// .block {
//   @include align(column middle center between);
//   font-family: $font-family--primary;
// }

