@import '~src/scss/imports';

// box

$color1: #252B48;
$color2: #1C2038;
$color3: #252B48;
$color4: #8C8C8D;

.box {
  width: 100%;
  padding: 0;
  border-radius: $border-radius__default;
  overflow: hidden;
  // box-shadow: 0px 2px 4px rgba(black, .25);
  .box__header {
    .box__title { padding: $box-padding }
    .title--compound {
      padding: $box-padding
    }
    .icons {
      @include align(column);
      justify-content: space-around;
      i {
          font-size: rem(18px);
          width: 40px;
          text-align: center;
          color: $color4;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        &:first-child { padding-top: 15px }
        &:last-child { padding-bottom: 15px }
      }
    }
  }
  &__body {
    width: 100%;
    .cell__wrapper {
      .cell__wrapper { padding-right: 0 !important }
      .cell__wrapper__top { margin-bottom: 5px }
      .cell__wrapper__info { margin: 5px 0 }
      .cell__wrapper__bottom { margin-top: 5px }
    }
  }
}

