@import '~src/scss/imports';

.box--table {
  flex-direction: column;
  .box__body {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .cell__wrapper {
      padding: $box-padding/2 $box-padding;
      display: flex;
      flex: 0 0 auto !important;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      &.cell__wrapper--half { width: 50% }
      &.cell__wrapper--third { width: calc(100%/3) }
      .cell__wrapper__top {
        height: calc(#{$line-height__base} * #{$lines} * #{$font_size}) ;
        @include align(bottom);
        & + .cell__wrapper__info {
          margin-top: 0;
        }
      }
      .no-label { margin-top: 0 !important }

      .cell__wrapper__info {
        height: rem(48px);
        align-items: flex-start;
        margin-top: 33px;
        .tags {
          margin-top: 10px;
          display: inline-block
        }
      }
    }
  }
}
