// --------------------------------------------------
//
// INDEX
//
//  #VARS
//    $brand
//    $gray
//    $color
//    $state
//
// --------------------------------------------------


// --------------------------------------------------
// #VARS
// --------------------------------------------------

// $brand
$color__brand--1:                     #00A9FF !default;
$color__brand--2:                     #60CC3D !default;



// $gray
$color__gray--lightest:               #F9FAFC !default;
$color__gray--lighter:                #E0E6ED !default;
$color__gray--light:                  #C0CCDA !default;
$color__gray:                         #8492A6 !default;
$color__gray--medium:                 #586474 !default;
$color__gray--dark:                   #3A4758 !default;
$color__gray--darker:                 #2A3442 !default;
$color__gray--darkest:                #192029 !default;



// $color
$color__blue:                         #00A9FF !default;
$color__green:                        #60CC3D !default;
$color__yellow:                       #FFC82C !default;
$color__orange:                       #FF7849 !default;
$color__red:                          #FF4949 !default;
$color__pink:                         #FF49DB !default;
$color__purple:                       #7E5BEF !default;



// $state
$color__state--success:               #60CC3D !default;
$color__state--info:                  #00A9FF !default;
$color__state--warning:               #FFC82C !default;
$color__state--danger:                #FF4949 !default;

// $social
$color__social--facebook:             #3B5998 !default;
$color__social--twitter:              #1DA1F2 !default;
$color__social--linkedin:             #007BB5 !default;
$color__social--youtube:              #FF0000 !default;
$color__social--skype:                #00AFF0 !default;
$color__social--instagram:            #C32AA3 !default;
$color__social--pinterest:            #BD081C !default;
$color__social--google-plus:          #DB4437 !default;
$color__social--google:               #4285F4 !default;
$color__social--snapchat:             #FFFC00 !default;
$color__social--whatsapp:             #25D366 !default;
$color__social--spotify:              #1ED760 !default;
$color__social--apple:                #A6B1B7 !default;
