<div class="container-fluid">
  <section class="page-section bg--light">
    <div class="row">
      <div class="col">
        <h1 class="section-title">Portfolios</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="sidebar">
          Sidebar
        </div>
      </div>
      <div class="col-9">
        <div class="row">

          <a *ngFor="let portfolio of (portfolios$ | async)" [routerLink]="['./', portfolio.id]"  class="col-4">
            <div class="box box--bg box--table box--table--small">
              <div class="box__header box__header--bg">
                <div class="d-flex flex-row justify-content-between">
                  <div class="box__title title--compound">
                    <h1 class="title">{{ portfolio.industry }}</h1> <!-- #HC -->
                  </div>
                </div>
              </div>
              <div class="box__body box__body--bg">
                <div class="cell__wrapper cell__wrapper--bg-light portfolio-name">
                  <span>{{ portfolio.name }}</span>
                </div>

                <div class="cell__wrapper cell__wrapper--bg-dark flex-3 portfolio-positions">
                  <div class="text-row">
                    <span>{{ portfolio.positions }}</span>
                    <span class="u-strong">Positions in Portfolio</span>
                  </div>
                  <div class="text-row">
                    <span>{{ portfolio.clients }}</span>
                    <span class="u-strong">Clients in Portfolio</span>
                  </div>

                  <div class="row-col">
                    <div class="text-row">
                      <span class="u-strong">Total CE</span>
                      <span>{{ portfolio.totalExposure }}{{ portfolio.exposureUnit }}</span>
                    </div>
                    <div class="text-row">
                      <span class="u-strong">Avg. RAROC</span>
                      <span>{{ portfolio.avgRaroc }}%</span>
                    </div>
                    <div class="text-row">
                      <span class="u-strong">Avg. Maturity</span>
                      <span>{{ portfolio.avgMaturity }}Y</span>
                    </div>
                    <div class="text-row">
                      <span class="u-strong">Avg. LOV</span>
                      <span>{{ portfolio.avgLov }}{{ portfolio.avgLovUnit }}</span>
                    </div>
                  </div>
                </div>

                <div class="cell__wrapper cell__wrapper--bg-light flex-4 portfolio-alerts">
                  <div class="table">
                    <div class="highlighted--small highlighted--color">Last Unread Alerts</div>
                    <div *ngFor="let notification of portfolio.notificationsData" class="table-row">
                      <div class="square {{ notification.notificationPriority | lowercase }}"></div>
                      <div class="labels" *ngIf="notification.type === 'kpi'">
                        <span class="label-up">{{ notification.labelUp }}</span>
                        <span class="truncate {{ notification.positiveNegative }}">{{ notification.value }}%</span>
                        <span class="label-down">{{ notification.labelDown }}</span>
                      </div>
                      <div class="labels" *ngIf="notification.type === 'news'">
                        <span class="label-up">{{ notification.title }}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cell__wrapper cell__wrapper--bg-dark portfolio-unread">
                  <span class="label label--color">+ {{ portfolio.extraUnreadAlerts }} Unread Alerts</span>
                </div>
              </div>
            </div>

          </a>

        </div>
      </div>

    </div>
  </section>
</div>
