@import '~src/scss/imports';

.row-col {
  @include align(between);
  .text-row {
    @include align(column center);
    font-size: rem(14px);
    .u-strong {
      font-size: rem(10px);
    }
  }
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 40px;
}

.truncate {
  margin: 0 10px;
}

.highlighted--color {
  margin-bottom: 10px;
}

.text-color-2 {
  color: $color__custom__gray--3;
}

.Positive {
  color: #7AC143;
  // @include icon();
}
.Negative {
  color: #E9545C;
  // @include
}

.square {
  width: 3px;
  height: 10px;
  display: inline-block;
  margin: 0 10px 0 0;
}

.text-row {
  font-size: rem(14px);
  margin-top: 10px;
}

.box {
  display: flex;
  flex: 1;
  flex-direction: column;
  .box__header {
    height: 80px;
  }
  .box__body {
    display: flex;
    flex: 2;
    flex-direction: column;
    & > * {
    display: flex;
    flex: 1;
    }
  }
}

.flex-3 {
  flex: 4 !important;
  min-height: 130px;
}
.flex-4 {
  flex: 6 !important;
  min-height: 181px;
  justify-content: flex-start !important;
}