<div class="container-fluid">
  <section class="page-section bg--light">
    <div class="row">
      <div class="col">
        <h1 class="section-title">Portfolios</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <div class="sidebar box box--table">
          <div class="box__header box__header--bg">
            <div class="row-justified">
              <div class="box__title title--compound">
                <h1 class="title">Filter Portfolios</h1>
              </div>
            </div>
          </div>
          <div class="box__body box__body--bg">
            <div class=" cell__wrapper cell__wrapper--bg-dark">
              <div class="row-justified">
                <input class="form-control form--search" type="search" id="site-search" name="q" aria-label="Search" placeholder="Search">
                <button type="submit" class="btn btn-search">
                  <i class="icol ico-search"></i>
                </button>
              </div>
              <div class="form-group">
                <label class="label label--color" for="exampleFormControlSelect1">Client</label>
                <div class="select-styled styled--block">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>All Clients</option>
                  </select>
                </div>
              </div>
            </div>
            <div class=" cell__wrapper cell__wrapper--bg-light">
              <div class="form-group">
              <label class="label label--color" for="exampleFormControlSelect1">Industry</label>
              <div class="select-styled styled--block">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>All Industries</option>
                </select>
              </div>
              </div>

              <div class="form-group">
                <label class="label label--color" for="exampleFormControlSelect1">Instrument Type</label>
                <div class="select-styled styled--block">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>All Types</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="label label--color" for="exampleFormControlSelect1">Instrument</label>
                <div class="select-styled styled--block">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>All Instruments</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="row">

          <a *ngFor="let portfolio of (portfolios$ | async)" [routerLink]="['./', portfolio.id]"  class="col-4">
            <div class="box box--bg box--table box--table--small">
              <div class="box__header box__header--bg">
                <div class="d-flex flex-row justify-content-between">
                  <div class="box__title title--compound">
                    <h1 class="title">{{ portfolio.industry }}</h1> <!-- #HC -->
                  </div>
                </div>
              </div>
              <div class="box__body box__body--bg">
                <div class="cell__wrapper cell__wrapper--bg-light portfolio-name">
                  <span>{{ portfolio.name }}</span>
                </div>

                <div class="cell__wrapper cell__wrapper--bg-dark flex-3 portfolio-positions">
                  <div class="text-row">
                    <span>{{ portfolio.positions }}</span>
                    <span class="u-strong">Positions in Portfolio</span>
                  </div>
                  <div class="text-row">
                    <span>{{ portfolio.clients }}</span>
                    <span class="u-strong">Clients in Portfolio</span>
                  </div>

                  <div class="row-col">
                    <div class="text-row">
                      <span class="u-strong">Total CE</span>
                      <span
                        [appNum]="portfolio.totalExposure"
                        [showUnit]="true"
                        [unitSmall]="false"></span>
                    </div>
                    <div class="text-row">
                      <span class="u-strong">Avg. RAROC</span>
                      <!-- <span>{{ portfolio.avgRaroc }}%</span> -->
                      <span
                        [appNum]="portfolio.avgRaroc"
                        [showUnit]="false"
                        [unitSmall]="false">%</span>
                    </div>
                    <div class="text-row">
                      <span class="u-strong">Avg. Maturity</span>
                      <span>{{ portfolio.avgMaturity }}Y</span>
                    </div>
                    <div class="text-row">
                      <span class="u-strong">Avg. LOV</span>
                      <span
                        [appNum]="portfolio.avgLov"
                        [showUnit]="true"
                        [unitSmall]="false"></span>
                    </div>
                  </div>
                </div>

                <div class="cell__wrapper cell__wrapper--bg-light flex-4 portfolio-alerts">
                  <div class="table">
                    <div class="highlighted--small highlighted--color">Last Unread Alerts</div>
                    <div *ngFor="let notification of portfolio.notificationsData; let i = index;" class="table-row">
                      <div class="square {{ notification.notificationPriority | lowercase }}" *ngIf="i < 3"></div>
                      <div class="labels" *ngIf="notification.type === 'kpi' && i < 3">
                        <span class="label-up">{{ notification.labelUp }}</span>
                        <span class="truncate {{ notification.positiveNegative }}">{{ notification.value }}%</span>
                        <span class="label-down">{{ notification.labelDown }}</span>
                      </div>
                      <div class="labels" *ngIf="notification.type === 'news' && i < 3">
                        <span class="label-up">{{ notification.title }}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cell__wrapper cell__wrapper--bg-dark portfolio-unread">
                  <span class="label label--color">+ {{ portfolio.extraUnreadAlerts }} Unread Alerts</span>
                </div>
              </div>
            </div>

          </a>

        </div>
      </div>

    </div>
  </section>
</div>
