<app-report-selector></app-report-selector>
<div class="box box--table">
  <div class="box__header box__header--bg">
    <div class="row-justified">
      <div class="box__title title--compound">
        <h1 class="title">
          Collateral
          <!-- #HC -->
        </h1>
      </div>
    </div>
  </div>
  <div class="box__body box__body--bg">
    <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
          {{ config.valuationAtT0.label }}
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
        [appNum]="config.valuationAtT0.value"
          [showUnit]="true"
          [unitSmall]="true"
          unitClass="u-uppercase highlighted__small--color">
        </p>
      </div>
    </div>

    <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
          {{ config.loanToValue.label }}
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{ config.loanToValue.value | perc:1}}
          <small class="u-uppercase highlighted__small--color">%</small>
        </p>
      </div>
    </div>

    <div class="w-100"></div>

    <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
          {{ config.adjustedCollateralValuation.label }}
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
        [appNum]="config.adjustedCollateralValuation.value"
          [showUnit]="true"
          [unitSmall]="true"
          unitClass="u-uppercase highlighted__small--color">
          
        </p>
      </div>
    </div>

    <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{ config.adjustedLoanToValue.value | perc:1 }}
          <small class="highlighted__small--color u-uppercase">%</small>
        </p>
      </div>
    </div>

  </div>

</div>
