<div style="display: flex; flex-direction: column; border: 1px solid #000000">
  <div>
    <h6>Collateral</h6> <!-- #HC -->
  </div>
  <div style="display: flex;">
    <div>
      <h6>{{ config.financial.collateral.valuationAtT0.label }}</h6>
      <div>{{ config.financial.collateral.valuationAtT0.value }}</div>
    </div>
    <div>
      <h6>{{ config.financial.collateral.loanToValue.label }}</h6>
      <div>{{ config.financial.collateral.loanToValue.value }}</div>
    </div>
  </div>

  <div style="display:flex;">
    <div>
      <h6>{{ config.financial.collateral.adjustedCollateralValuation.label }}</h6>
      <div>{{ config.financial.collateral.adjustedCollateralValuation.value }}</div>
    </div>
    <div>
      <h6>{{ config.financial.collateral.adjustedLoanToValue.label }}</h6>
      <div>{{ config.financial.collateral.adjustedLoanToValue.value }}</div>
    </div>
  </div>
</div>
