<div class="box box--table">
  <div class="box__body box__body--bg">

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Number of Dossiers</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.numberOfDossiers.value | perc:0}}
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">GBV</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
          [appNum]="config.gbv.value"
          [showUnit]="true"
          [unitSmall]="false"
          unitClass="u-uppercase highlighted__small--color">
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">NBV</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
          [appNum]="config.nbv.value"
          [showUnit]="true"
          [unitSmall]="false"
          unitClass="u-uppercase highlighted__small--color">
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">RAROC</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.raroc.value | perc:1}} %
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Weighted average Internal Rating</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.weightedAverageInternalRating.value}}
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Weighted average Pricing</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.weightedAveragePricing.value | perc:1}} %
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Time to Weighted Average Duration</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.timeToWeightedAverageDuration.value | dec:0}} Y
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Weighted Average Duration</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.weightedAverageDuration.value | dec:0}} Y
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

    <div class="cell__wrapper">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Regulatory Total Capital</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
          [appNum]="config.regulatoryTotalCapital.value"
          [showUnit]="true"
          [unitSmall]="false"
          unitClass="u-uppercase highlighted__small--color">
        </p>
      </div>
      <span class="chart-line"><img src="assets/images/line-chart.svg" /></span>
    </div>

  </div>
</div>
