<div class="container-fluid">
  <section class="page-section bg--light">
    <div class="row">
      <div class="col">
        <h1 class="section-title">Portfolio Detail</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <img class="npl__image npl__image--left" src="assets/images/npl__portfolio-detail--left.png">
      </div>
      <div class="col-4 col--right">
        <img class="npl__image npl__image--right" src="assets/images/npl__portfolio-detail--right.png">
      </div>
    </div>
  </section>
</div>
