<div class="position-row__container">
    <div class="position-row__title">{{ company.name }}</div>
    <div class="position-row__loan">{{ company.loanType }}</div>
    <div class="position-row__time">
        {{ company.dateStart }} > {{ company.dateEnd }}
    </div>
    <div class="position-row__state">{{ company.state }}</div>
    <ul class="position-row__info">
        <li *ngFor="let info of company.infos">
            <div>{{ info.title }}</div>
            <div>{{ info.data }}</div>
        </li>
    </ul>
    <div class="position-row__button" (click)="goToDashboard(company.id)">
        View
    </div>
</div>
