// ------------------------------------------------------------------
//
// INDEX
//
//  #IMPORTS
//
//  #VARS
//
//  #STYLES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #IMPORTS
// ------------------------------------------------------------------

// +/imports
@import '~src/scss/imports';





// ------------------------------------------------------------------
// #VARS
// ------------------------------------------------------------------

// $size
// $header__navbar--height: 50px;





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// :host
:host {
  width: 100%;
  display: flex;
  position: relative;
  @include align(column);
}

// _styles
.header {
  width: 100%;
  font-size: rem(16px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
  margin: 0;
}

.box__body {
  > .cell__wrapper {
    // .cell__wrapper__top {
    // }
    .cell__wrapper__info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-weight: $font-weight--bold;
        font-size: rem(30);
        font-family: $font-family--secondary;
        color: $color__custom--green !important;
        small {
          margin-left: 5px;
          font-weight: $font-weight--bold;
          color: inherit !important;
        }
      }

      .chart-line {
        background: rgba(255, 255, 255, 0.2);
        padding: 0px 5px;
        cursor: pointer;
      }
    }

    &:nth-last-child(2) {
      .cell__wrapper__info {
        p {
          color: $color__custom--red !important;
        }
      }
    }
  }
}

// .box--table {
//   border-radius: $border-radius__default 0 0 $border-radius__default;
// }

.cell__wrapper__top {
  @include line-clamp(1);
}

.cell__wrapper__top,
.cell__wrapper__info {
  height: auto !important;
  margin: 0 !important;
}
