<app-report-selector></app-report-selector>
<div style="border: 1px solid #FFFFFF">
  <h6><i class="icol ico-info-circle"></i>Focus Asset</h6> <!-- #HC -->
  <ul>
    <li>
      <span>{{config.new.value | perc:0}} %</span><span style="display: inline-block; background-color: #00B5E9; width: 5px; height: 11px;"></span><span>New</span> <!-- #HC -->
    </li>
    <li>
      <span>{{config.inConstruction.value | perc:0}} %</span><span style="display: inline-block; background-color: #7AC143; width: 5px; height: 11px;"></span><span>In Construction</span> <!-- #HC -->
    </li>
    <li>
      <span>{{config.renovated.value | perc:0}} %</span><span style="display: inline-block; background-color: #C7DA2C; width: 5px; height: 11px;"></span><span>Renovated</span> <!-- #HC -->
    </li>
    <li>
      <span>{{config.used.value | perc:0}} %</span><span style="display: inline-block; background-color: #F2E603; width: 5px; height: 11px;"></span><span>Used</span> <!-- #HC -->
    </li>
    <li>
      <span>{{config.needsRenovation.value | perc:0}} %</span><span style="display: inline-block; background-color: #FCB86B; width: 5px; height: 11px;"></span><span>Needs Renov.</span> <!-- #HC -->
    </li>
    <li>
      <span>{{config.ruin.value | perc:0}} %</span><span style="display: inline-block; background-color: #E9545C; width: 5px; height: 11px;"></span><span>Ruin</span> <!-- #HC -->
    </li>
  </ul>
</div>
