@import '~src/scss/imports';

:host {
  position: relative;
  display: flex;
  border-radius: $border-radius__default;
  overflow: hidden;
  @include shadow(card);
  .image {
    width: 100%;
    min-height: 290px;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
