<div *ngIf="config" class="container-fluid">
  <div class="row row-no-gutter">
    <div class="col-3">
      <app-panel-21 [config]="config.typeOfNeighborhood"></app-panel-21>
    </div>
    <div class="col-9">
      Something here
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-3">
      <app-panel-22 [config]="config.architecture"></app-panel-22>
    </div>
    <div class="col-9">
      <app-panel-23 [config]="config.architecture.architectureSnapshot.value"></app-panel-23>
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-3">
      <app-slider-range [value]="vehicleValues[0]" [steps]="vehicleValues[1]" (callback)="changeVehicleYearValue($event)"></app-slider-range>
      <app-panel-24 [config]="selectedVehicleYear"></app-panel-24>
    </div>
    <div class="col-9">
      Something here
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-3">
      <app-panel-25 [config]="config.streetCondition"></app-panel-25>
    </div>
    <div class="col-9">
      Something here
    </div>
  </div>
</div>