<div *ngIf="config" class="container-fluid">
  <div class="row row-no-gutter">
    <div class="col-3">
      <app-panel-21 [config]="config.typeOfNeighborhood"></app-panel-21>
    </div>
    <div class="col-9">
      Something here
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-3">
      <app-panel-22 [config]="config.architecture"></app-panel-22>
    </div>
    <div class="col-9">
      <app-panel-23 [config]="config.architecture.architectureSnapshot.value"></app-panel-23>
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-3">
      <app-slider-range [value]="vehicleValues[0]" [steps]="vehicleValues[1]" (callback)="changeVehicleYearValue($event)"></app-slider-range>
      <app-panel-24 [config]="selectedVehicleYear"></app-panel-24>
    </div>
    <div class="col-9">
      Something here
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-3">
      <app-panel-25 [config]="config.streetConditions"></app-panel-25>
    </div>
    <div class="col-9">
      Something here
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-4">
      <app-panel-26 [config]="{
        name: 'Fashion Retailers',
        total: config.retailersBreakdown.fashionRetailers.value,
        rating: config.retailersBreakdown.fashionRetailersRating.value,
        growth: config.retailersBreakdown.growth2YFashionRetailersRating.value
      }"></app-panel-26>
    </div>
    <div class="col-4">
      <app-panel-26 [config]="{
        name: 'Museums & Art Galeries',
        total: config.retailersBreakdown.museumArtGalleries.value,
        rating: config.retailersBreakdown.growth2YMuseumArtGalleries.value,
        growth: config.retailersBreakdown.growthGrowth2YMuseumArtGalleries.value
      }"></app-panel-26>
    </div>
    <div class="col-4">
      <app-panel-26 [config]="{
        name: 'Bars & Restaurants',
        total: config.retailersBreakdown.barsRestaurants.value,
        rating: config.retailersBreakdown.growth2YBarsRestaurants.value,
        growth: config.retailersBreakdown.growthGrowth2YBarsRestaurants.value
      }"></app-panel-26>
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-3">
      <app-panel-27 [config]="config.accommodation"></app-panel-27>
    </div>
    <div class="col-9">
      Something here
    </div>
  </div>

  <div class="row row-no-gutter">
    <div class="col-3">
      <app-panel-28 [config]="config.timeShift"></app-panel-28>
    </div>
    <div class="col-9">
      Something here
    </div>
  </div>
</div>