<app-report-selector></app-report-selector>
<div class="box box--table">
  <div class="box__header box__header--bg">
    <div class="d-flex flex-row justify-content-between">
      <div class="title--compound">
        <div class="main__title">
          <span class="u-strong u-uppercase">
            Type of neighbourhood <!-- #HC -->
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="box__body box__body--bg">
    <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="row-list--medium">
        <i class="icon--big icol ico-home"></i>
        <span class="row-list__text ">{{ config.modeTypeOfNeighborhood.value }}</span>
      </div>
    </div>
    <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="table">
        <div class="table-row">
          <span>Residential</span>
          <span><span class="square" style="background-color: #8FC0A9"></span></span>
          <span>{{config.residential.value | perc:0}} %</span>
          <span>.</span>
          <span># {{config.absResidential.value | number:'1.0-0'}}</span><!-- #HC -->
        </div>
        <div class="table-row">
          <span>Retail</span>
          <span><span class="square" style="background-color: #E49D89"></span></span>
          <span>{{config.retail.value | perc:0}} %</span>
          <span>.</span>
          <span># {{config.absRetail.value | number:'1.0-0'}}</span><!-- #HC -->
        </div>
        <div class="table-row">
          <span>Hospitality</span>
          <span><span class="square" style="background-color: #769A9F"></span></span>
          <span>{{config.hospitality.value | perc:0}} %</span>
          <span>.</span>
          <span># {{config.absHospitality.value | number:'1.0-0'}}</span><!-- #HC -->
        </div>
        <div class="table-row">
          <span>Offices</span>
          <span><span class="square" style="background-color: #DB6C68"></span></span>
          <span>{{config.offices.value | perc:0}} %</span>
          <span>.</span>
          <span># {{config.absOffices.value | number:'1.0-0'}}</span><!-- #HC -->
        </div>
        <div class="table-row">
          <span>Warehouses</span>
          <span><span class="square" style="background-color: #6BA5FC"></span></span>
          <span>{{config.warehouse.value | perc:0}} %</span>
          <span>.</span>
          <span># {{config.absWarehouse.value | number:'1.0-0'}}</span><!-- #HC -->
        </div>
        <div class="table-row">
          <span>Factories</span>
          <span><span class="square" style="background-color: #91809B"></span></span>
          <span>{{config.factories.value | perc:0}} %</span>
          <span>.</span>
          <span># {{config.absFactories.value | number:'1.0-0'}}</span><!-- #HC -->
        </div>
      </div>
  </div>
</div>
