<div style="border: 1px solid #FFFFFF">
    <h5>Average €SQM / SC</h5>
    <div>
      <span>State</span><span>AVG€/sqm</span><span>OverYear</span> <!-- #HC -->
    </div>
    <div>
      <span>New</span>
      <span>{{ config.new.value }}€</span>
      <span>{{config.newVsLastYearPerc.value | perc:1}}</span> <!-- #HC -->
    </div>
    <div>
      <span>In Construction</span>
      <span>{{ config.inConstruction.value }}€</span>
      <span>{{config.inConstructionVsLastYearPerc.value | perc:1}}</span> <!-- #HC -->
    </div>
    <div>
      <span>Renovated</span>
      <span>{{ config.renovated.value }}€</span>
      <span>{{config.renovatedVsLastYearPerc.value | perc:1 }}</span> <!-- #HC -->
    </div>
    <div>
      <span>Used</span>
      <span>{{ config.used.value }}€</span>
      <span>{{config.usedVsLastYearPerc.value | perc:1}}</span> <!-- #HC -->
    </div>
    <div>
      <span>Needs Renov.</span>
      <span>{{ config.needsRenovation.value }}€</span>
      <span>{{config.needsRenovationVsLastYearPerc.value | perc:1}}</span> <!-- #HC -->
    </div>
    <div>
      <span>Ruin</span>
      <span>{{ config.ruin.value }}€</span>
      <span>{{config.ruinVsLastYearPerc.value | perc:1}}</span> <!-- #HC -->
    </div>
  </div>
  