// --------------------------------------------------
//
// INDEX
//
//  #VARS
//    $custom --------------------
//      $custom: gray
//      $custom: brand
//      $custom: color
//      $custom: gradient
//    $color --------------------
//      $color: brand
//      $color: gray
//      $color: color
//      $color: state
//
// --------------------------------------------------


// --------------------------------------------------
// #VARS
// --------------------------------------------------

// $custom --------------------

// $custom: gray
$color__custom__gray--1:              #F2F2F3; // NEW
$color__custom__gray--2:              #BFBFBF;
$color__custom__gray--3:              #A0A0A0;
$color__custom__gray--4:              #777A82;
$color__custom__gray--5:              #5E6372;
$color__custom__gray--6:              #4E5560;
$color__custom__gray--7:              #50575E;
$color__custom__gray--8:              #4A4E54;
$color__custom__gray--9:              #3C444C;
$color__custom__gray--10:             #303A43;
$color__custom__gray--11:             #2E3742;
$color__custom__gray--12:             #2A333D;
$color__custom__gray--13:             #1F3041;
$color__custom__gray--14:             #202B36;
$color__custom__gray--15:             #091521;


// $custom: brand
$color__custom__brand--1:             #389BFF;
$color__custom__brand--2:             #967DD9;


// $custom: color
$color__custom__color--blue:          #6098DA;
$color__custom__color--pink:          #E6356F;
$color__custom__color--red:           #C02E1D;
$color__custom__color--orange:        #F16C20;
$color__custom__color--yellow:        #EBC844;
$color__custom__color--green:         #A2B86C;
$color__custom__color--turquoise:     #1395BA;
$color__custom__color--purple:        #B0A8BB;


// $custom: gradient
$color__custom__grad--pink:           #C3357C, #69349C;
$color__custom__grad--blue:           #6272C3, #6098DA;



// $color --------------------

// $color: brand
$color__brand--1:                     $color__custom__brand--1;
$color__brand--2:                     $color__custom__brand--2;


// $color: gray
$color__gray--lightest:               $color__custom__gray--1;
$color__gray--lighter:                #E0E6ED;
$color__gray--light:                  $color__custom__gray--1;
$color__gray:                         $color__custom__gray--3;
$color__gray--medium:                 $color__custom__gray--5;
$color__gray--dark:                   $color__custom__gray--9;
$color__gray--darker:                 $color__custom__gray--11;
$color__gray--darkest:                $color__custom__gray--14;


// $color: color
$color__blue:                         $color__custom__color--blue;
$color__green:                        $color__custom__color--green;
$color__yellow:                       $color__custom__color--yellow;
$color__orange:                       $color__custom__color--orange;
$color__red:                          $color__custom__color--red;
$color__pink:                         $color__custom__color--pink;
$color__purple:                       $color__custom__color--purple;


// $color: state
$color__state--success:               $color__green;
$color__state--info:                  $color__blue;
$color__state--warning:               $color__yellow;
$color__state--past:                  $color__orange;
$color__state--danger:                $color__red;
$color--state--default:               $color__gray;

$status--colors: ("success", $color__state--success),("info",$color__state--info),("warning", $color__state--warning),("past",$color__state--past),("danger", $color__state--danger);

$color1: #252B48;
$color2: #1C2038;
$color3: $color1;
$color4: #8C8C8D;
$color5: #2D3035;
$color6: #34363B;

$section--bg--dark: #1F2228;
$section--bg--light: #161D28;


$color__custom--green: #7AC143;
$color__custom--yellow: #f0ad4e;
$color__custom--red: #E9545C;
