<div *ngIf="isOpen" class="report-sticky-container bg--light {{isOpen ? 'is-open' : ''}}">
  <div class="box container">
    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-dark report-counter">{{counter}}</div>
    <div class="report-title">
      <div class="title-report cell__wrapper cell__wrapper cell__wrapper--bg-light">{{title}}</div>
      <div class="title-added" *ngIf="title">added to Report</div>
    </div>

    <div class="btns-holder">
      <button class="btn btn-light--2" (click)="openModal(template)">Add Comment</button>
      <button *ngIf="!isMaximize" class="btn btn-light--2" (click)="maximize()">Maximize</button>
      <button *ngIf="isMaximize" class="btn btn-light--2" (click)="maximize()">Minimize</button>
      <button class="btn btn-light--1" (click)="openClose()">Close</button>
    </div>
  </div>
</div>

<div *ngIf="isMaximize" class="container-report">
  <div class="top">
    <div class="left">
      <span class="report-title">Untitled Report</span>
      <span class="report-date"> - {{ todaysDate | date:'d MMM y' }}</span>
    </div>
    <div class="right">
      <button class="btn btn-small btn-outline-light--1">Preview Report</button>
      <button class="btn btn-small btn-outline-light--1">Send Report</button>
    </div>
  </div>
  <ul *ngIf="reportList.length > 0" class="container-list">
    <li class="list box" *ngFor="let report of reportList | reverse" >
      <div class="left">
        <span class="list-title">
          {{ report.title }}
        </span>
      </div>
      <div class="right">
        <div *ngIf="report.comment">
          <i class="icon--big icol ico-file-alt"></i>
        </div>
        <button *ngIf="report.comment" class="btn btn-light--2">Edit Note</button>
        <button *ngIf="!report.comment" class="btn btn-light--2">Add Note</button>
        <button class="btn btn-danger">Remove</button>
      </div>
    </li>
  </ul>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Comment to {{ reportList[reportList.length -1].title }}</h4>
  </div>
  <div class="modal-body">
    <p class="textarea-label">Comment:</p>
    <textarea placeholder="Comment here" name="comment" id="report-comment" (input)="commentText = $event.target.value" cols="30" rows="10"></textarea>
    <div class="buttons-container">
      <button type="button" class="btn btn-danger" (click)="modalDecline()">Cancel</button>
      <button type="button" class="btn btn-light--2" (click)="modalConfirm()">Submit Comment</button>
    </div>
  </div>
</ng-template>
