// ------------------------------------------------------------------
//
// INDEX
//
//  #IMPORTS
//
//  #VARS
//
//  #STYLES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #IMPORTS
// ------------------------------------------------------------------

// +/imports
@import '~src/scss/imports';





// ------------------------------------------------------------------
// #VARS
// ------------------------------------------------------------------

// $size
$subheader__navbar--height: 40px;





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

:host {
  height: $subheader__navbar--height;
  display: block;
  position: relative;
}

.navbar {
  height: $subheader__navbar--height;
  padding: 0 60px;
  margin-top: 50px;
  background: #34363B;
  box-shadow: 0px 2px 4px rgba(black, .25);
  .navbar__left {
    height: 100%;
    @include align(middle);
    .back {
      @include align(middle);
      .btn--back {
        height: 100%;
        position: relative;
        font-size: rem(14);
        font-family: $font-family--secondary;
        font-weight: $font-weight--bold;
        letter-spacing: 0;
        text-transform: uppercase;
        line-height: 1;
        border: none;
        border-radius: 0;
        padding: 0;
        @include align(middle);
        i {
          margin-right: 10px;
          font-size: 10px;
        }
      }
      span {
        position: relative;
        font-size: rem(14);
        font-family: $font-family--secondary;
        line-height: 1;
        &:before {
          content: '/';
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }
  }

  .navbar__right {
    height: 100%;
    @include align(middle);
    .btn {
      height: 100%;
      position: relative;
      font-size: rem(14);
      font-family: $font-family--secondary;
      font-weight: $font-weight--normal;
      letter-spacing: 0;
      text-transform: initial;
      line-height: 1;
      border: none;
      border-radius: 0;
      padding: 0;
      @include anim();
      @include align(middle);

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: transparent;
      }

      + .btn {
        margin-left: 40px;
      }

      &.active {
        font-weight: $font-weight--bold;
        color: $color__brand--2 !important;
        &:after {
          background: $color__brand--2 !important;
        }
      }
    }
  }
}
