@import '~src/scss/imports';

.container-fluid {
  .page-section {
    &:first-child {
      height: 600px;
      padding: 0;
      .row {
        height: 100%;
      }
    }
  }
  
}
agm-map {
    height: 450px;
    width: 100%;
  }

.col--panels::ng-deep {
  @include align;
  .row {
    > * {
      display: flex;
      app-panel-dash-1 {
        margin-right: 20px;
      }
      app-panel-dash-2 {
        margin-left: 20px;
      }
      .box {
        flex: 1;
        @include align(between);
        .box__body {
          flex: 1;
        }
      }
    }
  }
}

:host {
  margin-top: 40px;
}
:host::ng-deep {
  .page-section {
    .row {
      .col--graphs {
        height: auto;
        $height: 180px !important;
        > * {
          height: $height;
          border-radius: 0;
          &:first-child {
            border-radius: $border-radius__default $border-radius__default 0 0;
          }
          &:last-child {
            border-radius: 0 0 $border-radius__default $border-radius__default;
          }
          > * {
            height: $height;
          }
        }
      }
    }
  }
}
