<div *ngIf="config" class="container-fluid">
  <section class="page-section bg--light">
    <div class="row-no-gutter">
      <h1 class="section-title">{{ config.client.clientName.value }}</h1>
    </div>
    <div class="row row-no-gutter">
      <div class="col-3">
        <app-panel-1 [config]="config"></app-panel-1>
      </div>
      <div class="col-3">
        <app-panel-2 [config]="config"></app-panel-2>
      </div>
      <div class="col-3">
        <app-panel-3 [config]="config"></app-panel-3>
      </div>
    </div>
  </section>

  <section class="page-section bg--dark">
    <div class="row-no-gutter">
      <h1 class="section-title">Loan XYZ Alpha II</h1> <!-- #HC -->
    </div>
    <div class="row row-no-gutter">
      <div class="col-3">
        <app-panel-4 [config]="config"></app-panel-4>
      </div>
      <div class="col-3">
        <app-panel-5 [config]="config"></app-panel-5>
      </div>
      <div class="col-3">
        <app-panel-6 [config]="config"></app-panel-6>
      </div>
      <div class="col-3">
        <app-panel-7 [config]="config"></app-panel-7>
      </div>
    </div>
  </section>

  <section class="page-section bg--light">
    <div class="row-no-gutter">
      <h1 class="section-title">Collateral Asset</h1> <!-- #HC -->
      <app-panel-8 [config]="config"></app-panel-8>
    </div>
  </section>
</div>
