<div class="sidebar box box--table">
  <div class="box__header box__header--bg">
    <div class="row-justified">
      <div class="box__title title--compound">
        <h1 class="title">Filter notifications</h1>
      </div>
    </div>
  </div>
  <div class="accordion-container">
    <accordion>
      <accordion-group #group1 heading="COUNTERPARTS" [isOpen]="true">
        <span accordion-heading><i class="icol" [ngClass]="!group1?.isOpen ? 'ico-chevron-down': 'ico-chevron-up'"></i></span>
        <div class="select-styled">
          <select (change)="onChange($event)">
            <option *ngFor="let option of droplist" [value]="option.id" [selected]="dropvalue == option.id">{{option.name}}</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All Sub Industries</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All GBV Sizes</option>
          </select>
        </div>
      </accordion-group>
      <accordion-group #group2 heading="GEOGRAPHY" [isOpen]="true">
        <span accordion-heading><i class="icol" [ngClass]="!group2?.isOpen ? 'ico-chevron-down': 'ico-chevron-up'"></i></span>
        <div class="select-styled">
          <select>
            <option>All Macro Regions</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All Regions</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All Provinces</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All City</option>
          </select>
        </div>
      </accordion-group>
      <accordion-group #group3 heading="POSITIONS" [isOpen]="true">
        <span accordion-heading><i class="icol" [ngClass]="!group3?.isOpen ? 'ico-chevron-down': 'ico-chevron-up'"></i></span>
        <div class="select-styled">
          <select>
            <option>All Positions Sizes</option>
          </select>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
