<div style="border: 1px solid #FFFFFF">
  <h6>Architecture</h6> <!-- #HC -->
  <h1>{{ config._19ThCentury.label }}</h1>

  <div>
    <div><span>< {{ config._19ThCentury.label }}</span><span> {{ config._19ThCentury.value | perc:0 }}%</span></div>
    <div><span>{{ config._1900To1950.label }}</span><span> {{ config._1900To1950.value | perc:0 }}%</span></div>
    <div><span>{{ config._1950To1970.label }}</span><span> {{ config._1950To1970.value | perc:0 }}%</span></div>
    <div><span>{{ config._1970To1990.label }}</span><span> {{ config._1970To1990.value | perc:0 }}%</span></div>
    <div><span>{{ config._1990To2000.label }}</span><span> {{ config._1990To2000.value | perc:0 }}%</span></div>
    <div><span>{{ config.after2000.label }}</span><span> {{ config.after2000.value | perc:0 }}%</span></div>
  </div>
</div>
  