@mixin btn-alix ($name, $color:transparent, $bg-color:transparent ) {
  .btn-#{$name} {
    background-color: $bg-color;
    color: $color;
  }
}


.bg--dark {
  @include btn-alix (duplicate, $body__color__text, $color6);
}

.form--search {
  border-radius: $border-radius__default 0 0 $border-radius__default;
  border-top: none;
}

.btn--search {
  height: 35px;
  padding: 0 12px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}