// ------------------------------------------------------------------
//
// INDEX
//
//  #MIXINS
//
//  #STYLES
//
//  Icons Row
//
// ------------------------------------------------------------------

// ------------------------------------------------------------------
// #MIXINS
// ------------------------------------------------------------------

@import '~src/scss/imports';

  @each $size in $icon-row--size {
    $key: nth($size, 1);
    $value: nth($size, 2);

    .icon--#{$key} {
      font-size: $value;
    }
  }
