$perc-bar--color: $color__custom--green;

.perc-bar {
  width: 80%;
  height: 10px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba($section--bg--dark, .7);
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  // @include pseudo {
  //   border-radius: 100px;
    // box-shadow: inset 0px 5px 10px rgba(black, 0.2);
  //   z-index: 100;
  // }

  .perc-bar__percentage {
    height: 100%;
    position: absolute;
    background: rgba($perc-bar--color, .66);
  }
  .perc-bar__percentage__5y {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba($perc-bar--color, .66);
    // border-left: 1px solid darken($color__custom--green, 20%);
    // @include shadow(0px 4px 10px rgba(black, 0.25));
  }
  .perc-bar__percentage__1y {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba($perc-bar--color, 1);
    // border-left: 1px solid darken($color__custom--green, 20%);
    // @include shadow(0px 4px 10px rgba(black, 0.25));
  }
}
