// ------------------------------------------------------------------
//
// INDEX
//
//  #MIXINS
//
//  #STYLES
//
//  Row list
//
// ------------------------------------------------------------------

// ------------------------------------------------------------------
// #MIXINS
// ------------------------------------------------------------------

@import '~src/scss/imports';

%row-list {
  display: flex;
  justify-content: flex-start;
}

@each $size in $row-list--size {
  $key: nth($size, 1);
  $value: nth($size, 2);

  .row-list--#{$key} {
    @extend %row-list;
    & > i,
    & > .bullet-point-row {
      width: $value;
      margin-left: $value * .2;
      margin-right: $value * .4;
    }
    .row-list__text {
      width: calc(100% - #{$value});
      margin: 0;
    }
  }
}

.row-list--medium {
  div { margin: 5px 0 }
  &.icon-title {
    background-color: red;
    i { font-size: 45px }
  }
  &.row-list__title {
    .row-list__text {
      font-size: 30px;
    }
  }
}