$box--bg: transparent;
$box__header--bg: transparent;
$box__body--bg: transparent;
$box__body-bg--light: $color1;
$box__body-bg--dark: $color2;



@mixin box--bg ($box--bg: transparent, $box__body-bg--dark: $box__body-bg--dark, $box__body-bg--light: $box__body-bg--light, $box__body--bg: transparent, $box__header--bg: transparent ){
  & { background-color: $box--bg }
  &__header--bg { background-color: $box__header--bg }
  &__body--bg {
    background-color: $box__body--bg;
  }
  .cell__wrapper--bg-dark {
    background-color: $box__body-bg--dark
  }
  .cell__wrapper--bg-light {
    background-color: $box__body-bg--light
  }
}

@mixin lateral-wrapper--color (
	$base--color: $text__secondary-color,
	$title--color: $base--color,
	$sub-title--color: $base--color,
	$span--color: $base--color
	) {
	.lateral-wrapper {
		.title { color: $title--color }
		.sub-title { color: $sub-title--color }
		i,
		span { color: $span--color }
	}
}

@mixin box-list--color ($title-color: $text__secondary-color, $text-color: #DBDBDE, $states-color: $text__primary-color ){
	.box-list {
		& > div {
			&.titles span { color: $title-color }
			span { color: $text-color }
			span:nth-child(1) { color: $states-color }
		}
	}
}


@mixin box--table--color ( $span-primary-color: $text__primary-color, $span-secondary-color: $text__secondary-color ) {
	&.box--table {
		.color--secondary {color: $span-secondary-color }
		.color--primary {color: $span-primary-color}
	}
}

@mixin tabs ($unselected--bg, $active--bg, $bg-color:$active--bg ) {
	.nav-tabs {
		background-color: $unselected--bg;
		li a {
			border: 0px hidden transparent;
			background-color: $unselected--bg !important;
			&.active,
			&:active{
				background-color: $active--bg !important;
			}
			&:hover {
				background-color: darken($active--bg, 10) !important ;
			}
		}
	}
  .tab-content { background-color: $active--bg }
}


@mixin placeholder ($color) {
	&::-webkit-input-placeholder { color: $color }
	&::-moz-placeholder { color: $color }
	&:-ms-input-placeholder { color: $color }
	&:-moz-placeholder { color: $color }
}



@mixin form-joined ($input-bg: transparent, $form-joined--bg: transparent ){
	.form-joined--bg { background-color: $form-joined--bg }
	input { 
		background-color: $input-bg;
		border: 1px solid darken($input-color, 20);
		@if (lightness($input-color) > 50) {
			@include placeholder ($color__custom__brand--1);
			color: #000000;
		} @else {
			@include placeholder ($body__color__text);
			color: $body__color__text;
		}
	}
}


.box {
	@include box--bg ($color1, transparent, transparent);
	@include box--table--color;
}


.bg--light {
  background-color: $section--bg--light;
	.box { @include box--bg ($color1, $color2, $color1) }
	.box.inverse { @include box--bg ($color2, $color2, $color1) }
	@include lateral-wrapper--color;
	@include box-list--color;
	@include tabs($color2, $color1);
	@include form-joined($color1, $color2);
}

.bg--dark {
	background-color: $section--bg--dark !important;
	.box { @include box--bg ($color5, $color6, $color5) }
	@include lateral-wrapper--color;
	@include box-list--color;
	@include tabs($color6, $color5);
	@include form-joined($color5, $color6);

}
