$box--bg: transparent;
$box__header--bg: transparent;
$box__body--bg: transparent;
$box__body-bg--light: #252B48;
$box__body-bg--dark: #1C2038;


@mixin box--bg ($box--bg: transparent, $box__body-bg--dark: $box__body-bg--dark, $box__body-bg--light: $box__body-bg--light, $box__body--bg: transparent, $box__header--bg: transparent ){
  & { background-color: $box--bg }
  &__header--bg { background-color: $box__header--bg }
  &__body--bg {
    background-color: $box__body--bg;
    .cell__wrapper--bg-dark {
      background-color: $box__body-bg--dark
    }
    .cell__wrapper--bg-light {
      background-color: $box__body-bg--light
    }
  }
}

@mixin lateral-wrapper--color (
	$base--color: $text__secondary-color,
	$title--color: $base--color,
	$sub-title--color: $base--color,
	$span--color: $base--color
	) {
	.lateral-wrapper {
		.title { color: $title--color }
		.sub-title { color: $sub-title--color }
		i,
		span { color: $span--color }
	}
}

@mixin box-list--color ($title-color: $text__secondary-color, $text-color: #DBDBDE, $states-color: $text__primary-color ){
	.box-list {
		& > div {
			&.titles span { color: $title-color }
			span { color: $text-color }
			span:nth-child(1) { color: $states-color }
		}
	}
}


@mixin box--table--color ( $span-primary-color: $text__primary-color, $span-secondary-color: $text__secondary-color ) {
	&.box--table {
		.color--secondary {color: $span-secondary-color }
		.color--primary {color: $span-primary-color}
	}
}

.box {
	@include box--bg (#252B48, transparent, transparent);
	@include box--table--color;
}


.bg--light {
  background-color: #161D28;
	.box { @include box--bg (#252B48, #1C2038, #252B48) }
	@include lateral-wrapper--color;
	@include box-list--color;
}

.bg--dark {
	background-color: #1F2228 !important;
	.box { @include box--bg (#2D3035, #34363B, #2D3035) }
	@include lateral-wrapper--color;
	@include box-list--color;
}
