@import '~src/scss/imports';

// table

.table__simple {
  display: flex;
  flex-direction: column;
  .table__row {
     display: flex;
     flex-direction: column;
    .cell__title,
    .cell__information {
      font-size: rem(10px);
      color: $color__text_table;
      font-family: $font-family--secondary;
    }
    .cell__title {
      padding: 0 20px 0 0;
      font-weight: $font-weight--bold;
    }
    .cell__information { font-weight: $font-weight--thin }
  }
}