// ------------------------------------------------------------------
//
// INDEX
//
//  #MIXINS
//
//  #STYLES
//
//  Titles
//
// ------------------------------------------------------------------

// ------------------------------------------------------------------
// #MIXINS
// ------------------------------------------------------------------


@import '~src/scss/imports';
.title--compound {
  .main__title {
    font-size: rem(16px);
    color: #00A6D9;
    font-family: $font-family--primary;
    font-weight: $font-weight--normal;
  }
  .secondary__title {
    font-size: rem(16px);
    font-family: $font-family--secondary;
    font-weight: $font-weight--bold;
  }
}

.title {
  font-size: rem(16px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
}

.state-text {
  font-size: rem(11px);
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  @each $color in $status--colors {
    &.state-text--#{nth($color,1)} {
      color: nth($color,2);
    }
  }
}

.u-strong { font-weight: $font-weight--bold }
.u-uppercase { text-transform: uppercase }
.u-underline { text-decoration: underline }

.section-title {
  font-size: rem(36px);
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  margin: 40px 0 0 0;
}