// ------------------------------------------------------------------
//
// INDEX
//
//  #MIXINS
//
//  #STYLES
//
//  Titles
//
// ------------------------------------------------------------------

// ------------------------------------------------------------------
// #MIXINS
// ------------------------------------------------------------------


@import '~src/scss/imports';
.title--compound {
  .main__title {
    font-size: rem(16px);
    color: white;
    font-family: $font-family--primary;
    font-weight: $font-weight--normal;
  }
  .secondary__title {
    color: rgba(white, .5);
    font-size: rem(14px);
    font-family: $font-family--secondary;
    font-weight: $font-weight--bold;
    p {
      line-height: rem(14px);
    }
  }
}

.title {
  line-height: 1.4em;
  font-size: rem(16px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

%state-text {
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  &.text--small{ font-size: rem(11px) }
}

@each $color in $status--colors {
  &.text--#{nth($color,1)} {
    @extend %state-text;
    color: nth($color,2);
  }
}

.u-strong { font-weight: $font-weight--bold }
.u-uppercase { text-transform: uppercase }
.u-underline { text-decoration: underline }
.u-none { text-decoration: none }
.u-capitalize { text-transform: capitalize }

.section-title {
  font-size: rem(36px);
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  margin: 0;

  i {
    margin: 0 20px;
  }
}

.section-title-image {
  width: 200px;
}

.text-row {
  display: flex;
  font-size: rem(10px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  span { padding: .1em .2em }
}
