// ------------------------------------------------------------------
//
// INDEX
//
//  #MIXINS
//
//  #STYLES
//
//  Titles
//
// ------------------------------------------------------------------

// ------------------------------------------------------------------
// #MIXINS
// ------------------------------------------------------------------


@import '~src/scss/imports';
.title--compound {
  .main__title {
    font-size: rem(16px);
    color: #00A6D9;
    font-family: $font-family--primary;
    font-weight: $font-weight--normal;
  }
  .secondary__title {
    font-size: rem(16px);
    font-family: $font-family--secondary;
    font-weight: $font-weight--bold;
  }
}

.title {
  font-size: rem(16px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
}

%state-text {
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  &.text--small{ font-size: rem(11px) }
}

@each $color in $status--colors {
  &.text--#{nth($color,1)} {
    @extend %state-text;
    color: nth($color,2);
  }
}

.u-strong { font-weight: $font-weight--bold }
.u-uppercase { text-transform: uppercase }
.u-underline { text-decoration: underline }
.u-none { text-decoration: none }

.section-title {
  font-size: rem(36px);
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  margin: 40px 0 0 0;
}

.text-row {
  display: flex;
  font-size: rem(10px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  span { padding: .1em .2em }
}