{
  "bracketSpacing": true,
  "printWidth": 120,
  "tabs": false,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
