// --------------------------------------------------
//
//           __== ALTAR SASS FRAMEWORK ==__
//
// INDEX
//
//  #IMPORTS
//    +/imports
//    +/layout
//    +/components
//    +/page-components
//
// --------------------------------------------------


// --------------------------------------------------
// #IMPORTS
// --------------------------------------------------

// +/libs
@import 'libs';


// +/imports
@import 'imports';


// +/bootstrap
@import '~projects/styling/src/scss/_core/config/bootstrap/bootstrap';


// +/config
@import 'config/typography';
@import 'config/fonts';
@import 'config/iconfont';
@import 'config/base';
@import 'config/ui';


// +/resolvers (required)
@import '~projects/styling/src/scss/resolvers/iconfonts';


// +/helpers
@import 'helpers/animations';


// +/components
@import 'components/buttons';
@import 'components/input-group';
// @import 'components/popover';
// @import 'components/daterangepicker';
@import 'components/forms';
@import 'components/grid';
// @import 'components/alerts';
@import 'components/modals';
// @import 'components/panels';
@import 'components/accordion';
@import 'components/chips';
@import 'components/nav';
// @import 'components/sidebar';
// @import 'components/filter';
// @import 'components/footer';
// @import 'components/filters';
@import 'components/dropdown';
// @import 'components/breadcrumbs';


// our compoments
@import 'components/shared/box/box';
@import 'components/shared/box/box_table';
@import 'components/shared/box/box_list';



@import 'components/shared/highlighted';
@import 'components/shared/table';
@import 'components/shared/tags';
@import 'components/shared/labels';
@import 'components/shared/titles';
@import 'components/shared/sections';
@import 'components/shared/bullet_points';
@import 'components/shared/icons';
@import 'components/shared/row_list';
@import 'components/shared/line-values';
@import 'components/shared/list-simple';
@import 'components/shared/percentage-bar';
@import 'components/shared/select';
@import 'components/shared/graphs';
@import 'components/shared/maps';
@import 'components/shared/tabs';
@import 'components/shared/buttons';
@import 'components/shared/row-justified';
@import 'components/shared/rating';


// DO NOT REMOVE --------------------
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
// DO NOT REMOVE --------------------


%app-panel {
	flex: 1;
}

.container-fluid {
  padding: 0;
  .page-section {
    padding: 60px 0;
    &:first-child {
      @include pseudo {
        height: 220px;
        background: linear-gradient(180deg, rgba(150, 125, 217, 0.15) 0%, rgba(31, 34, 40, 0) 100%);
        z-index: 0;
      }
    }

    > .row {
      > [class*="col"] {
        > * {
          + * {
            margin-top: 20px;
          }
        }
      }
    }

    > * {
      min-width: 1024px;
      max-width: 1260px;
      padding: 0;
      margin: 0 auto;
      > * {
        display: flex;
				// flex: 1;
				flex-direction: column;
				z-index: 1;
      }
      + * {
        margin-top: 40px;
      }
    }
  }

  &.container-fluid--large {
    .page-section {
      > * {
        min-width: 90%;
        max-width: 1380px;
      }
    }
  }
}

@for $i from 1 through 35 {
	app-panel-#{$i} {
		@extend %app-panel;
	}
}

bs-dropdown-container {
  z-index: 10000;
  .dropdown {
    ul.dropdown-menu {
      li {
        color: $color__custom__gray--15;
        a {
          cursor: pointer;
          &:hover {
            background: $color__brand--1;
            color: white;
          }
        }
      }
    }
  }
}
