<div *ngIf="config" class="container-fluid">

  <section class="page-section bg--dark">
    <div class="row">
      <div class="col-4">
          <app-panel-14 [config]="config.demandAndOffer.replacementIndicators"></app-panel-14>
      </div>
      <div class="col-8">
          <alix-line [series]="series.marketValue" [opts]="opts.marketValue"></alix-line>
      </div>
    </div>
  </section>

  <section class="page-section bg--light">
    <div class="row">
    <div class="col-12">
      <h1 class="section-title">Transaction Speed</h1>
    </div>
    <div class="col-3">
        <app-slider-range [value]="2018" [steps]="[2015,2016,2017,2018]"></app-slider-range>
    </div>
  </div>
  </section>

  <section class="page-section bg--dark">
		<div class="row">
			<div class="col">
				<h1 class="section-title"># SQM / Asset Demand</h1>
				<div><alix-scatter [series]="series.sqm" [opts]="opts.sqm"></alix-scatter></div>
			</div>
			<div class="col">
				<h1 class="section-title"># Rooms / Asset Demand</h1>
				<div>
					<alix-scatter [series]="series.rooms" [opts]="opts.rooms" ></alix-scatter>
				</div>
			</div>
		</div>
	</section>

	<section class="page-section bg--light">
		<div class="row">
			<div class="col-4">
				<app-panel-15 [config]="config"></app-panel-15>
			</div>
			<div class="col-8">
        <app-dropdown [config]="getPriceTodayVsOvertime()" (callback)="changePriceTodayVsOvertime($event)"></app-dropdown>
        <alix-area-basic [series]="series.priceTodayVsOvertime" [opts]="opts.priceTodayVsOvertime" (chartInit)="onChartInit('priceTodayVsOvertime',$event)"></alix-area-basic>
			</div>
		</div>
	</section>

	<section class="page-section bg--dark">
		<div class="row">
			<div class="col-4">
				<app-panel-16 [config]="config.demandAndOffer.forSale.populations"></app-panel-16>
			</div>
			<div class="col-8">
        <alix-area-basic [series]="series.peerListedAssets5YForSale" [opts]="opts.peerListedAssets5YForSale"></alix-area-basic>
			</div>
		</div>
	</section>

	<section class="page-section bg--light">
		<div class="row">
			<div class="col-4">
				<app-dropdown [config]="getPopulationNames()" (callback)="changePopulationValue($event)"></app-dropdown>
				<app-panel-17 [config]="population"></app-panel-17>
			</div>
			<div class="col-8">
				<alix-area-stack></alix-area-stack>
			</div>
		</div>
	</section>

	<section class="page-section bg--dark">
		<div class="row">
			<div class="col-4">
				<app-panel-18 [config]="config.demandAndOffer.longRent.populations"></app-panel-18>
			</div>
			<div class="col-8">
				<alix-area-stack></alix-area-stack>
			</div>
		</div>
	</section>

	<section class="page-section bg--light">
		<div class="row">
			<div class="col-4">
				<!-- <app-panel-19 [config]="config.demandAndOffer.longRent.populations"></app-panel-19> -->
			</div>
			<div class="col-8">
				<alix-area-stack></alix-area-stack>
			</div>
		</div>
	</section>

	<section class="page-section bg--dark">
		<div class="row">
			<div class="col-4">
				<!-- <app-panel-20 [config]="config.demandAndOffer.longRent.populations"></app-panel-20> -->
			</div>
			<div class="col-8">
				<alix-area-stack></alix-area-stack>
			</div>
		</div>
	</section>

	<section class="page-section bg--light">
		<div class="row">
			<div class="col-4">
				<!-- <app-panel-21 [config]="config.demandAndOffer.shortRent.populations"></app-panel-21> -->
			</div>
			<div class="col-8">
				<alix-area-stack></alix-area-stack>
			</div>
		</div>
	</section>

	<section class="page-section bg--dark">
		<div class="row">
			<div class="col-4">
				<!-- <app-panel-22 [config]="config.demandAndOffer.shortRent.populations"></app-panel-22> -->
			</div>
			<div class="col-8">
				<alix-area-stack></alix-area-stack>
			</div>
		</div>
	</section>

	<section class="page-section bg--light">
		<div class="row">
			<div class="col-4">
				<!-- <app-panel-23 [config]="config.demandAndOffer.shortRent.populations"></app-panel-23> -->
			</div>
			<div class="col-8">
				<alix-area-stack></alix-area-stack>
			</div>
		</div>
	</section>

	<section class="page-section bg--dark">
		<div class="row">
			<div class="col-4">
				<app-panel-24 [config]="config.demandAndOffer.shortRent.populations"></app-panel-24>
			</div>
			<div class="col-8">
				<alix-area-stack></alix-area-stack>
			</div>
		</div>
	</section>
</div>
