<div *ngIf="config" class="container-fluid">
  <section class="page-section bg--dark">

    <div class="row">
      <div class="col-4">
        <app-panel-25 [config]="config.typeOfNeighborhood"></app-panel-25>
      </div>
      <div class="col-8">
        <alix-bar [series]="getbreakdownAssetsInNeighborhoodSeries()" [opts]="getbreakdownAssetsInNeighborhoodOpts()"></alix-bar>
      </div>
    </div>
  </section>

  <section class="page-section bg--light">
    <div class="row">
      <div class="col-4">
        <app-panel-26 [config]="config.architecture"></app-panel-26>
      </div>
      <div class="col-8">
        <app-panel-27 [config]="config.architecture.architectureSnapshot.value"></app-panel-27>
      </div>
    </div>
  </section>

  <section class="page-section bg--dark">
    <div class="row">
      <div class="col-4">
        <app-slider-range [value]="vehicleValues[0]" [steps]="vehicleValues[1]" (callback)="changeVehicleYearValue($event)"></app-slider-range>
        <app-panel-28 [config]="selectedVehicleYear"></app-panel-28>
      </div>
      <div class="col-8">
        <alix-scatter [series]="getscpVehiclesRad()" [opts]='opts.scpVehiclesRad' (chartInit)="onChartInit('scpVehiclesRad',$event)"></alix-scatter>
      </div>
    </div>
  </section>

  <section class="page-section bg--light">
    <div class="row">
      <div class="col-4">
        <app-panel-29 [config]="config.streetConditions"></app-panel-29>
      </div>
      <div class="col-8">
        Something here
      </div>
    </div>
  </section>

  <section class="page-section bg--dark">
    <div class="row">
      <div class="col-4">
        <app-panel-30 [config]="{
          name: 'Fashion Retailers',
          total: config.retailersBreakdown.fashionRetailers.value,
          rating: config.retailersBreakdown.fashionRetailersRating.value,
          growth: config.retailersBreakdown.growth2YFashionRetailersRating.value
        }" icon="icon--big icol ico-gem"></app-panel-30>
      </div>
      <div class="col-4">
        <app-panel-30 [config]="{
          name: 'Museums & Art Galeries',
          total: config.retailersBreakdown.museumArtGalleries.value,
          rating: config.retailersBreakdown.growth2YMuseumArtGalleries.value,
          growth: config.retailersBreakdown.growthGrowth2YMuseumArtGalleries.value
        }" icon="icon--big icol ico-palette"></app-panel-30>
      </div>
      <div class="col-4">
        <app-panel-30 [config]="{
          name: 'Bars & Restaurants',
          total: config.retailersBreakdown.barsRestaurants.value,
          rating: config.retailersBreakdown.growth2YBarsRestaurants.value,
          growth: config.retailersBreakdown.growthGrowth2YBarsRestaurants.value
        }" icon="icon--big icol ico-utensils-alt"></app-panel-30>
      </div>
    </div>
  </section>

  <section class="page-section bg--dark">
    <div class="row">
      <div class="col-4">
        <app-panel-31 [config]="config.accommodation"></app-panel-31>
      </div>
      <div class="col-8">
        <alix-bar [series]="getpercentageAccommByPricePerRoomSeries()" [opts]="getpercentageAccommByPricePerRoomOpts()" [init]="{height:'554px'}"></alix-bar>
      </div>
    </div>
  </section>

  <section class="page-section bg--light">
    <div class="row">
      <div class="col-4">
        <app-panel-32 [config]="config.timeShift"></app-panel-32>
      </div>
      <div class="col-8">
        Something here
      </div>
    </div>
  </section>

  <section class="page-section bg--dark">
    <div class="row">
      <div class="col-4">
        <app-panel-33 name="Supermarkets" [config]="{
          total: config.neighborhoodConnectivity.supermarkets.value,
          legend: config.neighborhoodConnectivity.legendForAll.value,
          closest: config.neighborhoodConnectivity.closestSupermarkets.value
        }" icon="icon--big icol ico-shopping-cart"></app-panel-33>
      </div>
      <div class="col-4">
        <app-panel-33 name="Pharmacy" [config]="{
          total: config.neighborhoodConnectivity.pharmacies.value,
          legend: config.neighborhoodConnectivity.legendForAll.value,
          closest: config.neighborhoodConnectivity.closestPharmacies.value
        }" icon="icon--big icol ico-pills"></app-panel-33>
      </div>
      <div class="col-4">
        <app-panel-33 name="Clinics" [config]="{
          total: config.neighborhoodConnectivity.clinics.value,
          legend: config.neighborhoodConnectivity.legendForAll.value,
          closest: config.neighborhoodConnectivity.closestClinics.value
        }" icon="icon--big icol ico-plus-circle"></app-panel-33>
      </div>
    </div>
  </section>

  <section class="page-section bg--light">
    <div class="row">
      <div class="col-4">
        <app-panel-34 [config]="config.publicTransportation500Radius"></app-panel-34>
      </div>
      <div class="col-8 in-METROSTATIONS">
        <agm-map [disableDefaultUI]="false" [latitude]="lat" [longitude]="lng" [zoom]="zoom" 
            [gestureHandling]="'none'" [zoomControl]="false" [streetViewControl]="false">
            <agm-circle [latitude]="lat" [longitude]="lng" [radius]="radius" [fillColor]="'red'" [circleDraggable]="false"
                [editable]="false">
            </agm-circle>
        </agm-map>
      </div>
    </div>
  </section>

  <section class="page-section bg--dark">
    <div class="row">
      <div class="col-4">
        <app-panel-35 [config]="{
          name: 'Malapensa Airport',
          taxi: config.distanceToKeyPoints.linateAirportsTaxi.value,
          pubTrans: config.distanceToKeyPoints.linateAirportsPublicTransportation.value
        }" icon="icon--big icol ico-plane-departure"></app-panel-35>
      </div>
      <div class="col-4">
        <app-panel-35 [config]="{
          name: 'Mangiagalli Hospital',
          taxi: config.distanceToKeyPoints.fatebenefratelliHospitalTaxi.value,
          walking: config.distanceToKeyPoints.fatebenefratelliHospitalWalking.value,
          pubTrans: config.distanceToKeyPoints.fatebenefratelliHospitalpublicTransportation.value
        }" icon="icon--big icol ico-hospital"></app-panel-35>
      </div>
      <div class="col-4">
        <app-panel-35 [config]="{
          name: 'Bocconi University',
          taxi: config.distanceToKeyPoints.duomoCathedralTaxi.value,
          walking: config.distanceToKeyPoints.duomoCathedralWalking.value,
          pubTrans: config.distanceToKeyPoints.duomoCathedralMetro.value
        }" icon="icon--big icol ico-graduation-cap"></app-panel-35>
      </div>
    </div>
  </section>
</div>