<app-report-selector></app-report-selector>
<div style="border: 1px solid #FFFFFF">
  <h5>Long term rent price</h5>

  <div>
    <div>
        {{ config.population1.populationName.value }}
    </div>
    <div>
      <span>
        <div>{{ config.population1.priceSqmLongRent.value | curr:0 }}€</div>
        <div>
          {{ config.population1.priceSqmLongRent.label }}
        </div>
      </span>
      <span>
        <div>
          {{ config.population1.pricePMonth.value }}€
        </div>
        <div>
          {{ config.population1.pricePMonth.label }}
        </div>
      </span>
    </div>
  </div>

  <div>
    <div>
        {{ config.population2.populationName.value }}
    </div>
    <div>
      <span>
        <div>{{ config.population2.priceSqmLongRent.value | curr:0 }}€</div>
        <div>
          {{ config.population2.priceSqmLongRent.label }}
        </div>
      </span>
      <span>
        <div>
          {{ config.population2.pricePMonth.value }}€
        </div>
        <div>
          {{ config.population2.pricePMonth.label }}
        </div>
      </span>
    </div>
  </div>

  <div>
    <div>
        {{ config.population3.populationName.value }}
    </div>
    <div>
      <span>
        <div>{{ config.population3.priceSqmLongRent.value | curr:0 }}€</div>
        <div>
          {{ config.population3.priceSqmLongRent.label }}
        </div>
      </span>
      <span>
        <div>
          {{ config.population3.pricePMonth.value }}€
        </div>
        <div>
          {{ config.population3.pricePMonth.label }}
        </div>
      </span>
    </div>
  </div>
</div>
