<app-report-selector></app-report-selector>
<div style="border: 1px solid #FFFFFF">
  <h6>{{name}}</h6> <!-- #HC -->
  <div>
    <div>
      <i class="icol ico-info-circle"></i>
    </div>
    <div>
      <div>
        <span>
          <h1># {{ config.total }}</h1>
        </span>
        <span>Units in 200m Radius</span>
      </div>
      <div>
        <span><i class="icol ico-info-circle"></i></span>
        <span>{{ config.closest }} Min</span><span>{{ config.legend }}</span>
      </div>
    </div>
  </div>
</div>
  