<div class="container-fluid">
  <div class="no-gutters">
    <div class="col">
      <h1>Login</h1>
      <div class="row row-sides">
        <div class="col">
          <!-- <a [routerLink]="['/monitor']" role="button" class="btn btn-primary">Monitor</a> -->
          <a role="button" class="btn btn-primary" (click)="goTo('monitor')">Monitor</a>
        </div>
        <div class="col">
          <!-- <a [routerLink]="['/underwriter']" role="button" class="btn btn-secondary">Underwriter</a> -->
          <a role="button" class="btn btn-secondary" (click)="goTo('underwriter')">Underwriter</a>
        </div>
      </div>
    </div>
  </div>
</div>
