<nav class="navbar">

  <div class="navbar__left">
    <!-- logo -->
    <a class="brand" routerLink="['/']">
      <img src="assets/images/bnl_logo-light.png" alt="logo">
    </a>

    <!-- environment -->
    <div class="environment">Monitoring Environment</div>
  </div>

  <div class="navbar__right">
    <a class="btn btn-ghost-lightest" routerLink="['/']" routerLinkActive="active">Dashboard</a>
    <a class="btn btn-ghost-lightest" routerLink="['/']" routerLinkActive="active">Monitoring</a>
    <a class="btn btn-ghost-lightest" routerLink="['/']" routerLinkActive="active">Portfolios</a>
    <a class="btn btn-ghost-lightest" routerLink="['/']" routerLinkActive="active">Reports</a>
    <a class="btn btn-ghost-lightest" routerLink="['/']" routerLinkActive="active">Counterparts</a>
  </div>
</nav>
