// ------------------------------------------------------------------
//
// INDEX
//
//  #IMPORTS
//
//  #VARS
//
//  #STYLES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #IMPORTS
// ------------------------------------------------------------------

// +/imports
@import '~src/scss/imports';





// ------------------------------------------------------------------
// #VARS
// ------------------------------------------------------------------

// $size
$header__navbar--height: 50px;





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

:host {
  display: block;
  height: $header__navbar--height;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  height: 100%;
  padding: 0 20px;
  background: #151D28;
  .navbar__left {
    height: 100%;
    @include align(middle);
    .brand {
      height: 30px;
      display: block;
      img {
        height: 100%;
      }
    }
  }
}
