<div class="box box--table">

  <div class="box__body box__body--bg">

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Total Exposure</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.totalExposure.value | curr}} B
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-light">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">ROE</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.roe.value | perc}}
          <small class="u-uppercase highlighted__small--color">%</small>
        </p>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Expected Net Interest Margin</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.expectedNetInterestMargin.value | curr}} B
          <!-- <small class="u-uppercase highlighted__small--color">B</small> -->
        </p>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-light">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Expected Loss</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.expectedLoss.value | curr}} B
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Var</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.var.value | curr}} B
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
    </div>

  </div>
</div>
