<div class="box box--table">

  <div class="box__body box__body--bg">

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Total Exposure</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
          [appNum]="config.totalExposure.value"
          [showUnit]="true"
          [unitSmall]="true"
          unitClass="u-uppercase highlighted__small--color">
        </p>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-light">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">ROE</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{config.roe.value | perc}}
          <small class="u-uppercase highlighted__small--color">%</small>
        </p>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Expected Net Interest Margin</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
          [appNum]="config.expectedNetInterestMargin.value"
          [showUnit]="true"
          [unitSmall]="false">
        </p>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-light">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Expected Loss</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
          [appNum]="config.expectedLoss.value"
          [showUnit]="true"
          [unitSmall]="false"
          unitClass="u-uppercase highlighted__small--color">
        </p>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">Var</span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color"
          [appNum]="config.var.value"
          [showUnit]="true"
          [unitSmall]="false"
          unitClass="u-uppercase highlighted__small--color">
        </p>
      </div>
    </div>

  </div>
</div>
