<!-- <div class="card-columns">

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Area Simple</h5>
            <alix-area-basic options="{}" ></alix-area-basic>
        </div>
    </div>

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Area Stack</h5>
            <alix-area-stack options="{}"></alix-area-stack>
        </div>
    </div>

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Bar</h5>
            <alix-bar options="{}"></alix-bar>
        </div>
    </div>

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">BoxPlot</h5>
            <alix-boxplot options="{}"></alix-boxplot>
        </div>
    </div>

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Bubble</h5>
            <alix-bubble options="{}"></alix-bubble>
        </div>
    </div>

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Doughnut</h5>
            <alix-doughnut options="{}"></alix-doughnut>
        </div>
    </div>

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Radar</h5>
            <alix-radar options="{}"></alix-radar>
        </div>
    </div>

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Scatter</h5>
            <alix-scatter options="{}"></alix-scatter>
        </div>
    </div>

    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Scatter Map</h5>
            <alix-scatter-map options="{}"></alix-scatter-map>
        </div>
    </div>
</div> -->

<div class="databoard clearfix" style="border:1px solid #efefef;" *ngFor="let spec of specs">
    <app-stacked *ngIf="spec.type=='StackedComponent'" [config]="spec"></app-stacked>

</div>