<div style="display: flex; flex-direction: column; border: 1px solid #000000">
    <div>
        <h6>Duration</h6> <!-- #HC -->
    </div>
    <div style="display: flex;">
        <div>
            <h6>{{ config.financial.duration }}</h6> <!-- #Missing -->
            <div>{{ config.financial.duration }} M€</div> <!-- #Missing -->
        </div>
    </div>

    <div>
        <div>
            <h6>{{ config.financial.duration.timeToDuration.label }}</h6>
            <div>
                {{ config.financial.duration.timeToDuration.value | number:'1.0-0' }}M of
                {{ config.financial.duration.totalDuration.value | number:'1.0-0' }}Y
            </div>
        </div>
        <div style="display: flex; flex-direction: column">
            <span>{{ config.financial.duration.today.label }}:</span>
            <span>{{ today | date: 'd MMM y' }}</span>

            <span>{{config.financial.duration.durationDate.label}}:</span>
            <span>{{config.financial.duration.durationDate.value | cusdate | date: 'd MMM y'}}</span>
        </div>
    </div>
</div>