@import '~src/scss/imports';

// box

.box {
  width: 100%;
  padding: 0;
  border-radius: $border-radius__default;
  overflow: hidden;
  @include shadow(card);
  .box__header {
    display: flex;
    align-items: center;

    .box__title { padding: $box-padding }
    .title--compound {
      padding: $box-padding;
    }
    .title--two-lines {
      height: 84px;
      @include align(middle);
    }
    .icons {
      @include align(column);
      justify-content: space-around;
      i {
          font-size: rem(18px);
          width: 40px;
          text-align: center;
          color: $color4;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        &:first-child { padding-top: 15px }
        &:last-child { padding-bottom: 15px }
      }
    }
  }
  &__body {
    width: 100%;
    .cell__wrapper {
      .cell__wrapper { padding-right: 0 !important }
      .cell__wrapper__top { margin-bottom: 5px }
      .cell__wrapper__info { margin: 5px 0 }
      .cell__wrapper__bottom { margin-top: 5px }
    }
  }
}

