<app-report-selector></app-report-selector>

<div class="box box--table">
  <div class="box__header box__header--bg">
    <div class="row-justified">
      <div class="title--compound">
        <div class="main__title">
          <span class="u-strong u-uppercase">Time Shift</span><!-- #HC -->
        </div>
      </div>
    </div>
  </div>
  <div class="box__body box__body--bg">
    <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="row-list--medium row-list__title">
        <i class="icon--big icol ico-sun"></i>
        <span class="row-list__text ">Daily Life</span><!-- #HC -->
      </div>
    </div>
    <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="table">
        <div class="table-row">
          <span>Daily Life</span><!-- #HC -->
          <span><span class="square" style="background-color: #3A99D8"></span></span>
          <span>{{config.daylife.value | perc:0 }}%</span>
          <span> {{config.daylifeGrowth3Y.value | perc:0 }}%</span>
          <span> 3 Years</span> <!-- #HC -->
        </div>
        <div class="table-row"><!-- #HC -->
          <span>Night Life</span>
          <span><span class="square" style="background-color: #28B462"></span></span>
          <span>{{config.nightlife.value | perc:0 }} %</span>
          <span>{{config.nightlifeGrowth3Y.value | perc:0 }}% </span>
          <span> 3 Years</span> <!-- #HC -->
        </div>
      </div>
    </div>

    <div class="cell__wrapper cell__wrapper--bg-dark">
      <img src="./assets/images/time_shift_chart.jpg" alt="chart" class="time-shift-chart">
      <!-- <alix-bar [series]="" [opts]=""></alix-bar> -->
    </div>
  </div>
</div>
