@import "scss/main";

// html, body
html,
body {
  min-height: 100vh;
}

// all
* {
  outline: none !important;
}


.app-wrapper {
  height: 100%;
}

// #main-wrapper {
//     width: 100%;
//     overflow: hidden;
// }

// .page-wrapper {
//     background: #151D28;
//     position: relative;
//     transition: 0.2s ease-in;
// }

// .page-wrapper > .container-fluid {
//     padding: 20px;
//     min-height: calc(100vh - 180px);
// }
