<app-report-selector></app-report-selector>

<div class="box box--table">
  <div class="box__header box__header--bg">
    <div class="row-justified">
      <div class="box__title title--compound">
        <h1 class="main__title ">
          <span class="u-strong u-uppercase"> Accomodation in Bera </span> <!-- #HC -->
        </h1>
      </div>
    </div>
  </div>
  <div class="box__body box__body--bg">
    <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
          Average Booking Night rate
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
            {{ config.averageBookingNightRate.value }}
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
      <div class="cell__wrapper__down">
        <span class="label__down label--color">
          {{ config.averageBookingNightRateVsMilan.value | perc:0 }} Milano
        </span>
      </div>
    </div>


    <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
          Median Booking Night Rate
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
          {{ config.medianBookingNightRate.value }}
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
      <div class="cell__wrapper__down">
          <span class="label__down label--color">
            {{ config.medianBookingNightRateVsMilan.value | perc:0 }} Milano <!-- #HC Milano-->
          </span>
        </div>
    </div>

    <div class="w-100"></div>

    <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
          Average AIRBNB night rate
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
            {{ config.averageAirbnbNightRate.value }}
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
      <div class="cell__wrapper__down">
          <span class="label__down label--color">
              {{ config.averageAirbnbNightRateVsMilan.value | perc:0 }} Milano <!-- #HC Milano-->
          </span>
        </div>
    </div>

    <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
            Median AIRBNB night rate
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--big highlighted--color">
            {{ config.medianAirbnbNightRate.value }}
          <small class="u-uppercase highlighted__small--color">€</small>
        </p>
      </div>
      <div class="cell__wrapper__down">
        <span class="label__down label--color">
            {{ config.medianAirbnbNightRateVsMilan.value | perc:0 }} Milano <!-- #HC Milano-->
        </span>
      </div>
    </div>

    <div class="w-100"></div>

    <div class=" cell__wrapper cell__wrapper--third cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__info images">
        <img alt="booking" class="booking" src="assets/images/booking.png" />
      </div>
    </div>

    <div class=" cell__wrapper cell__wrapper--third cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
          Brera <!-- #HC -->
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--small highlighted--color">
            # {{ config.numberOfBookingsNeighborhood.value }}
        </p>
      </div>
    </div>

    <div class=" cell__wrapper cell__wrapper--third cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__top">
        <span class="label__up label--color">
          Milano <!-- #HC -->
        </span>
      </div>
      <div class="cell__wrapper__info">
        <p class="highlighted--small highlighted--color">
          # {{ config.numberOfBookingsMilan.value }}
        </p>
      </div>
    </div>

    <div class="w-100"></div>

    <div class=" cell__wrapper cell__wrapper--third cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__info images">
        <img alt="airbnb" class="airbnb" src="assets/images/airbnb.png" />
      </div>
    </div>

    <div class=" cell__wrapper cell__wrapper--third cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__info no-label">
        <p class="highlighted--small highlighted--color">
          # {{ config.numberOfAirbnbNeighborhood.value }}
        </p>
      </div>
    </div>

    <div class=" cell__wrapper cell__wrapper--third cell__wrapper cell__wrapper--bg-dark">
      <div class="cell__wrapper__info no-label">
          <p class="highlighted--small highlighted--color">
          # {{ config.numberOfAirbnbMilan.value }}
        </p>
      </div>
    </div>


  </div>
</div>
