<app-report-selector></app-report-selector>
<div class="box box--bg box--table box--table--small">
    <div class="box__body box__body--bg">
      <div class="cell__wrapper cell__wrapper cell__wrapper--bg-dark">
        <div class="cell__wrapper__top">
          <span class="label__up label--color">
              {{ config.openPositionsLoansOriginalValue.label }}
          </span>
        </div>
        <div class="cell__wrapper__info">
          <p class="highlighted--medium highlighted--color">
              {{ config.openPositionsLoansOriginalValue.value | curr}}
            <small class="u-uppercase highlighted__small--color">
              b
            </small>
          </p>
        </div>
      </div>

      <div class="w-100"></div>

      <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
        <div class="cell__wrapper__top">
          <span class="label__up label--color">
              # Positions
          </span>
        </div>
        <div class="cell__wrapper__info">
          <p class="highlighted--medium highlighted--color">
            {{ config.openPositions.value }}
            <small class="highlighted__small--color">open from a total of</small>
          </p>
        </div>
      </div>

      <div class=" cell__wrapper cell__wrapper--half cell__wrapper cell__wrapper--bg-light">
        <div class="cell__wrapper__info">
          <p class="highlighted--medium highlighted--color">
              {{ config.totalPositions.value }}
            <small class="highlighted__small--color">positions</small>
          </p>
      </div>
    </div>
  </div>
</div>
  
  