<div style="border: 1px solid #FFFFFF">
  <div>
    <span>State</span><span>AVG€/sqm</span><span>OverYear</span><span>AVG€/sqm</span><span>Overyear</span> <!-- #HC -->
  </div>
  <div>
    <span>New</span><span>{{config.new.valye}}</span><span>{{config.newVsLastYearPerc.value | perc:0}}</span><span>{{config.newComparables.value}}</span><span>{{config.newComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
  </div>
  <div>
    <span>In Construction</span><span>{{config.inConstruction.value}}</span><span>{{config.inConstructionVsLastYearPerc.value | perc:0}}</span><span>{{config.inConstructionComparables.value}}</span><span>{{config.inConstructionComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
  </div>
  <div>
    <span>Renovated</span><span>{{config.renovated.value}}</span><span>{{config.renovatedVsLastYearPerc.value | perc:0 }}</span><span>{{config.renovatedComparables.value}}</span><span>{{config.renovatedComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
  </div>
  <div>
    <span>Used</span><span>{{config.used.value}}</span><span>{{config.usedVsLastYearPerc.value | perc:0}}</span><span>{{config.usedComparables.value}}</span><span>{{config.usedComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
  </div>
  <div>
    <span>Needs Renov.</span><span>{{config.needsRenovation.value}}</span><span>{{config.needsRenovationVsLastYearPerc.value | perc:0}}</span><span>{{config.needsRenovationComparables.value}}</span><span>{{config.needsRenovationComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
  </div>
  <div>
    <span>Ruin</span><span>{{config.ruin.value}}</span><span>{{config.ruinVsLastYearPerc.value | perc:0}}</span><span>{{config.ruinComparables.value}}</span><span>{{config.ruinComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
  </div>
</div>
