<app-report-selector></app-report-selector>

<div class="box">
  <div class="box__header box__header--bg">
    <div class="d-flex flex-row justify-content-between">
      <div class="box__title title--compound">
          <h1 class="title"># SC Today</h1> <!-- #HC -->
      </div>
    </div>
  </div>
  <div class="box__body box__body--bg">
      <div class=" cell__wrapper cell__wrapper--bg-dark">
      <div class="box-list box-list--big">
        <div class="titles">
          <span>State</span><span class="square" style="background-color: transparent "></span><span>AVG€/sqm</span><span>OverYear</span><span>AVG€/sqm</span><span>Overyear</span> <!-- #HC -->
        </div>
        <div>
          <span>New</span><span class="square" style="background-color: #00B5E9"></span><span>{{config.new.value}}</span><span>{{config.newVsLastYearPerc.value | perc:0}}</span><span>{{config.newComparables.value}}</span><span>{{config.newComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
        </div>
        <div>
          <span>In Construction</span><span class="square" style="background-color: #7AC143"></span><span>{{config.inConstruction.value}}</span><span>{{config.inConstructionVsLastYearPerc.value | perc:0}}</span><span>{{config.inConstructionComparables.value}}</span><span>{{config.inConstructionComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
        </div>
        <div>
          <span>Renovated</span><span class="square" style="background-color: #C7DA2C"></span><span>{{config.renovated.value}}</span><span>{{config.renovatedVsLastYearPerc.value | perc:0 }}</span><span>{{config.renovatedComparables.value}}</span><span>{{config.renovatedComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
        </div>
        <div>
          <span>Used</span><span class="square" style="background-color: #F2E603"></span><span>{{config.used.value}}</span><span>{{config.usedVsLastYearPerc.value | perc:0}}</span><span>{{config.usedComparables.value}}</span><span>{{config.usedComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
        </div>
        <div>
          <span>Needs Renov.</span><span class="square" style="background-color: #FCB86B"></span><span>{{config.needsRenovation.value}}</span><span>{{config.needsRenovationVsLastYearPerc.value | perc:0}}</span><span>{{config.needsRenovationComparables.value}}</span><span>{{config.needsRenovationComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
        </div>
        <div>
          <span>Ruin</span><span class="square" style="background-color: #E9545C"></span><span>{{config.ruin.value}}</span><span>{{config.ruinVsLastYearPerc.value | perc:0}}</span><span>{{config.ruinComparables.value}}</span><span>{{config.ruinComparablesVsLastYearPerc.value | perc:0}}</span> <!-- #HC -->
        </div>
      </div>
    </div>
  </div>
</div>