<div style="float:left; width:30% ">
    <app-slider-range
        *ngIf="config.left_component.has_slider"
        (callback)="onChangeValue($event)"
    ></app-slider-range>
    <p>{{ config.left_component.title }}</p>
    <p>{{ config.left_component.data_name }}</p>
    <p>SliderValue: {{ value }}</p>

    <ul>
        <li *ngFor="let item of config.left_component.items">
            {{ item.name }} - {{ item.percentage }} #{{ item.abs }}
        </li>
    </ul>
</div>
<div style="float:left; width:70% ">
    <img src="{{config.right_component.image}}" alt="" />
</div>
