<div class="position-row__container box">
  <div class="position-row__title">{{ position?.name }}</div>
  <div class="position-row__loan">{{ position?.loanType }}</div>
  <div class="position-row__time">{{ position?.dateStart | cusdate | date: 'd MMM yy' }} > {{ position?.dateEnd | cusdate | date: 'd MMM yy' }}</div>

  <div class="position-spacer"></div>

  <div class="position-row__state"
    [class.green]="position?.state === 'Performing'"
    [class.grey]="position?.state === 'Fully Paid'"
    [class.yellow]="position?.state === 'Past Due Loan'"
    [class.orange]="position?.state === 'Unlikely To Pay'"
    [class.red]="position?.state === 'Bad Loan'">{{ getState(position?.state) }}</div>

  <div class="btns-holder">
    <button class="btn btn-light--1">Duplicate</button>
    <button class="btn btn-light--1">Edit</button>
    <button class="btn btn-light--2" (click)="goToDashboard(position?.id)">View</button>
  </div>
</div>
