<section class="page-section bg--light">
    <div class="row">
      <div class="col-8">
        <tabset>
          <tab heading="1. Name & Industry" id="tab1">
            <form>
                <div class="form-group">
                  <label class="label label--color" for="exampleFormControlInput1">Portfolio Name</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Portfolio Name Here">
                </div>
                <div class="form-group">
                  <label class="label label--color" for="exampleFormControlSelect1">Industry</label>
                  <div class="select-styled select-styled--block">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Infrastructure & Real State</option>
                    </select>
                  </div>
                </div>
                <div class="buttons-group">
                  <button type="submit" class="btn btn-outline-light btn-sm">Cancel</button>
                  <button type="submit" class="btn btn-success btn-sm">
                    Next
                    <i class="icol ico-angle-right"></i>
                  </button>
                </div>

              </form>
            </tab>

            <tab heading="2. Segment Creation">

              <form>

                <div class="form-joined form-joined--bg">
                    <div class="form-joined-inputs">
                      <div class="select-styled">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Asset</option>
                        </select>
                      </div>

                      <div class="select-styled">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Location</option>
                        </select>
                      </div>

                      <div class="select-styled">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>City</option>
                        </select>
                      </div>

                      <div class="select-styled">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Milano</option>
                        </select>
                      </div>

                    </div>

                    <div class="btn-group">
                      <button type="" class="btn btn-danger">delete</button>
                      <button type="" class="btn btn-duplicate">duplicate</button>
                    </div>

                  </div>


                  <div class="form-joined form-joined--bg">
                      <div class="form-joined-inputs">
                        <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Asset</option>
                          </select>
                        </div>

                        <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Type</option>
                          </select>
                        </div>

                        <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Comercial</option>
                          </select>
                        </div>

                      </div>
                      <div class="btn-group">
                        <button type="" class="btn btn-danger">delete</button>
                        <button type="" class="btn btn-duplicate">duplicate</button>
                      </div>

                    </div>

                    <div class="form-joined form-joined--bg">
                        <div class="form-joined-inputs">
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Instrument</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Loan</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Loan XYZ II Beta</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>LOV</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>>=</option>
                            </select>
                          </div>

                          <input class="number" type="number" name="tentacles">

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Milion</option>
                            </select>
                          </div>
                        </div>

                        <div class="btn-group">
                          <button type="" class="btn btn-danger">delete</button>
                          <button type="" class="btn btn-duplicate">duplicate</button>
                        </div>

                      </div>


                      <div class="form-joined form-joined--bg">
                        <div class="form-joined-inputs">
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Position</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Status</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Unlikely to pay</option>
                            </select>
                          </div>
                        </div>

                        <div class="btn-group">
                          <button type="" class="btn btn-danger">delete</button>
                          <button type="" class="btn btn-duplicate">duplicate</button>
                        </div>
                      </div>


                      <div class="form-joined form-joined--bg">
                          <div class="form-joined-inputs">

                            <div class="select-styled">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>Client</option>
                              </select>
                            </div>

                            <div class="select-styled">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>Financial</option>
                              </select>
                            </div>

                            <div class="select-styled">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>TCE</option>
                              </select>
                            </div>

                            <div class="select-styled">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>>=</option>
                              </select>
                            </div>

                            <div class="select-styled">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>Milion</option>
                              </select>
                            </div>
                          </div>

                          <div class="btn-group">
                            <button type="" class="btn btn-danger">delete</button>
                            <button type="" class="btn btn-duplicate">duplicate</button>
                          </div>

                        </div>

                  <button type="" class="btn btn-outline-light btn--add">Add rule</button>

                  <div class="buttons-group">
                    <button type="submit" class="btn btn-outline-light">Cancel</button>
                    <button type="submit" class="btn btn-success">
                      Next
                      <i class="icol ico-angle-right"></i>
                    </button>
                  </div>

              </form>
            </tab>
          <tab heading="3. Monitoring Parameters">

              <form>

                  <div class="form-joined form-joined--bg">
                      <div class="form-joined-inputs">
                        <span class="form-middle-text u-uppercase">IF</span>
                        <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Number of real State Assets</option>
                          </select>
                        </div>

                        <span class="form-middle-text u-uppercase">is</span>
                        <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Absolute Value</option>
                          </select>
                        </div>
  
                        <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>>=</option>
                          </select>
                        </div>
  
                        <input class="number" type="number" name="tentacles" placeholder="200">
  
                        <span class="form-middle-text u-capitalize">Alarm priority</span>
                        <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Low risk</option>
                          </select>
                        </div>

                        <span class="form-middle-text u-uppercase">trigger</span>
                        <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>email</option>
                          </select>
                        </div>
                      </div>
  
                      <div class="btn-group">
                        <button type="" class="btn btn-danger">delete</button>
                        <button type="" class="btn btn-duplicate">duplicate</button>
                      </div>
  
                    </div>
  
  
                    <div class="form-joined form-joined--bg">
                        <div class="form-joined-inputs">
                          <span class="form-middle-text u-uppercase">IF</span>
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Transactions speed of Apartments for sale</option>
                            </select>
                          </div>
  
                          <span class="form-middle-text u-uppercase">is</span>
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>relative value</option>
                            </select>
                          </div>
  
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Decreased</option>
                            </select>
                          </div>
  
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>>=</option>
                            </select>
                          </div>

                          <input class="number" type="number" name="tentacles" placeholder="30%">

                          <span class="form-middle-text u-capitalize">compared to previous</span>
                          <input class="number" type="number" name="tentacles" placeholder="3%">

                          <div class="select-styled">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>Month</option>
                              </select>
                            </div>


                          <span class="form-middle-text u-capitalize">Alarm priority</span>
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                             <option>High risk</option>
                            </select>
                          </div>

                          <span class="form-middle-text u-uppercase">trigger</span>
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Email + notify X desk </option>
                            </select>
                          </div>

                        </div>
                        <div class="btn-group">
                          <button type="" class="btn btn-danger">delete</button>
                          <button type="" class="btn btn-duplicate">duplicate</button>
                        </div>

                      </div>

                    <button type="" class="btn btn-outline-light btn--add">Add rule</button>

                    <div class="buttons-group">
                      <button type="submit" class="btn btn-outline-light">Cancel</button>
                      <button type="submit" class="btn btn-success">
                        Next
                        <i class="icol ico-angle-right"></i>
                      </button>
                    </div>
  
                </form>




          </tab>
        </tabset>
      </div>

      <div class="col-4">
        <div class="box">

        </div>
      </div>
    </div>
  </section>