<div class="container-fluid">
  <section class="page-section bg--light">
    <div class="row">
      <div class="col">
        <h1 class="section-title">Notifications</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="sidebar">
          Sidebar
        </div>
      </div>
      <div class="col-9">
        <ul>
          <li *ngFor="let notification of notifications$ | async">
            <app-notification-row [notification]="notification" [type]="'big'"></app-notification-row>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
