<div class="container-fluid">
  <section class="page-section bg--light">
    <div class="row">
      <div class="col-8">


          <div>
            <tabset>
              <tab heading="Basic title" id="tab1">Basic content</tab>
              <tab heading="Basic Title 1">Basic content 1</tab>
              <tab heading="Basic Title 2">Basic content 2</tab>
            </tabset>
          </div>






          <div class="tabs">
              <ul class="tabs-nav tabs-nav--bg">
                  <li><a href="#box-one" class="title title--color">1. Name & Industry</a></li>
                  <li><a href="#box-two" class="title title--color">2. Segment Creation</a></li>
                  <li><a href="#box-three" class="title title--color">3. Monitoring Parameters</a></li>
              </ul>
              <div class="tabs-content">
                <div id="box-one" class="tabs-content-pane">

                  <form>
                    <div class="form-group">
                      <label class="label label--color" for="exampleFormControlInput1">Portfolio Name</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Portfolio Name Here">
                    </div>
                    <div class="form-group">
                      <label class="label label--color" for="exampleFormControlSelect1">Industry</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>Infrastructure & Real State</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="buttons-group">
                      <button type="submit" class="btn btn-outline-light btn-sm">Cancel</button>
                      <button type="submit" class="btn btn-success btn-sm">
                        Next
                        <i class="icol ico-angle-right"></i>
                      </button>
                    </div>

                  </form>

                  </div>

                  <div id="box-two" class="tabs-content-pane">

                    <form>

                      <div class="form-joined form-joined--bg">
                        <div class="form-joined-inputs">
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Asset</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Location</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>City</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Milano</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>


                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Asset</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                          <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Asset</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Asset</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Asset</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                          <div class="select-styled">
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Asset</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                          </div>

                          <div class="select-styled">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Asset</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>

                        </div>

                        <div class="btn-group">
                          <button type="" class="btn btn-outline-light">delete</button>
                          <button type="" class="btn btn-outline-light">duplicate</button>
                          <button type="" class="btn btn-outline-light">or</button>
                        </div>

                      </div>
                      <button type="submit" class="btn btn-outline-light btn-sm">Add rule</button>

                        <div class="buttons-group">
                          <button type="submit" class="btn btn-outline-light btn-sm">Cancel</button>
                          <button type="submit" class="btn btn-success btn-sm">
                            Next
                            <i class="icol ico-angle-right"></i>
                          </button>
                        </div>
    
                      </form>

                  </div>
                  <!-- <div id="box-three" class="tabs-content-pane">

                  </div> -->
              </div>
          </div>
      </div>
      <div class="col-4">
        <div class="box">
          teste
        </div>
      </div>
    </div>
  </section>
</div>
