<div style="display: flex; flex-direction: column; border: 1px solid #000000">
    <div>
        <h6>{{ config.title }}</h6>
    </div>
    <div style="display: flex;">
        <div>
            <h6>{{ config.evalIn.title }}</h6>
            <div>{{ config.evalIn.label }}</div>
        </div>
        <div>
            <h6>{{ config.loanToVal.title }}</h6>
            <div>{{ config.loanToVal.label }}</div>
        </div>
    </div>

    <div style="display:flex;">
        <div>
            <h6>{{ config.currEvalEst.title }}</h6>
            <div>{{ config.currEvalEst.label }}</div>
        </div>
        <div>
            <h6>{{ config.adjLoanToVal.title }}</h6>
            <div>{{ config.adjLoanToVal.label }}</div>
        </div>
    </div>
</div>
