:host {
  display: block;
  margin-bottom: 1rem;
}

@import '~src/scss/imports';

$row_padding: 10px;

.notification-row__container {
  display: flex;
  flex-direction: row;

  .notification-row__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    i {
      padding: 20px;
    }
  }

  .notification-row__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-weight: bold;
    width: 50%;
    padding: 1rem;
  }

  .notification-row__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding: 1rem;

    .notification-row__position-exposure {
      display: flex;
      justify-content: space-between;
    }
  }

  .notification-row__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 20%;


    .notification-row__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #475FF2;
      border-radius: $border-radius__default;
      cursor: pointer;
      padding: .5rem;
      margin-bottom: 1rem;
      width: 80%;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background: rgb(189, 189, 189);
      }
    }
  }
}

.notification-row__container-small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .notification-row__left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    & div {
      padding: .5rem
    }
  }

  .notification-row__right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    & div {
      padding: .5rem
    }
  }
}
