@import '~src/scss/imports';

:host {
  height: auto;
  display: block;
  margin-bottom: 1rem;
  @include anim(all);
}

[class*="bullet-point"] {
  border-radius: 100px;
}

.notification-row__container {
  height: 190px !important;
  height: 100%;
  @include align;

  .notification-row__icon {
    flex: 0 0 120px;
    padding: 20px;
    @include align(column between center);

    .notif-icon {
      font-size: 24px;
    }

    .date-holder {
      font-family: $font-family--secondary;
      font-weight: $font-weight--light;
      font-size: rem(13);
    }
  }

  .notification-row__title {
    flex: 1;
    padding: 20px;
    font-weight: bold;
    @include align(column between left);

    .notif-title {
      font-family: $font-family--secondary;
      font-weight: $font-weight--semibold;
      font-size: rem(13);
      text-transform: uppercase;
    }
    .notif-subtitle {
      font-family: $font-family--secondary;
      font-weight: $font-weight--bold;
      font-size: rem(18);
    }
    .source-holder {
      font-family: $font-family--secondary;
      font-weight: $font-weight--semibold;
      font-size: rem(13);
      @include align;
      .source-label {
        text-transform: uppercase;
        margin-right: 5px;
      }
      .source-link {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .notification-row__info {
    flex: 0 0 300px;
    padding: 20px;
    @include align(column middle);

    .notification-row__info-holder {
      margin-bottom: 20px;

      .label-up-down {
        + .info-holder {
          margin-top: 5px;
          + .label-up-down {
            margin-top: 5px;
          }
        }
      }
    }

    .info-holder {
      @include align(bottom);

      [icon="symbol"] {
        line-height: 1;
        font-size: rem(40);
        font-weight: $font-weight--light;
      }
      .symbol-time {
        line-height: 1;
        margin-left: 5px;
        font-size: rem(24);
        font-weight: $font-weight--light;
      }
    }

    .notification-row__position-exposure {
      @include align(column);

      .exposure-inner {
        @include align;

        .cell__wrapper__top {
          + .cell__wrapper__top {
            margin-left: 20px;
          }
          .label__up {
            // color: #C2C2C2;
            font-size: rem(8);
          }
          .cell__information {
            color: #979797;
            font-size: rem(14);
          }
        }
      }
    }
  }

  .notification-row__btns {
    flex: 0 0 160px;
    @include align(column middle center stretch around);
    padding: 20px;


    .notification-row__button {
      height: 36px;
      line-height: 36px;
      text-transform: initial;
      padding: 0 10px;
      border-radius: $border-radius__default;
    }
  }
}


.notification-row__container-small {
  height: 44px !important;
  @include align(between middle);

  .notif-icon {
    padding: 0;
  }

  .notification-row__left {
    flex: 1;
    padding: 0 0 0 20px !important;
    height: 100%;
    background: $color6;
    @include align(middle);

    .bullet-point--small {
      width: 16px;
      height: 16px;
    }

    .notif-icon {
      width: 22px;
      height: 22px;
      margin-left: 15px;
    }

    .kpi-label {
      > * {
        height: 32px;
        margin-left: 20px;
        padding: 0 10px;
        color: white !important;
        background: $color4;
        font-size: rem(12);
        border-radius: $border-radius__default;
        @include align(middle);
        &.text--error {
          background: $color__custom--red !important;
        }
        &.text--success {
          background: $color__custom--green !important;
        }
      }
    }

    .kpi-time {
      margin-left: 20px;
    }
  }

  .notification-row__right {
    flex: 0 0 400px;
    height: 100%;
    padding: 0 10px 0 0 !important;
    background: $color5;
    @include align(middle);

    .exposure-inner {
      margin-left: 20px;
      @include align(column center);

      .label__up {
        font-size: rem(8);
      }

      .cell__information {
        font-size: rem(14);
      }
    }

    .btns-holder {
      @include align;
      .btn {
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        font-size: rem(10);
        text-transform: initial;
        margin-left: 20px;
        // + .btn {
        // }
      }
    }
  }
}


.label-up-down {
  font-family: $font-family--primary;
  font-size: rem(10);
  color: #E3E4E8;
  text-transform: uppercase;
}
