<div class="notification-row__container box {{type}}">
  <div class="notification-row__icon cell__wrapper cell__wrapper cell__wrapper--bg-dark">
    <span class="bullet-point--big" [ngClass]="{
      'bullet-point--success': notification?.notificationPriority === 'Low',
      'bullet-point--warning': notification?.notificationPriority === 'Mid',
      'bullet-point--past': notification?.notificationPriority === 'High',
      'bullet-point--danger': notification?.notificationPriority === 'Veryhigh'
    }"></span>
    <div>
      <i *ngIf="notification?.type === 'kpi'" class="icon--big icol ico-chart-line"></i>
      <i *ngIf="notification?.type === 'news'" class="icon--big icol ico-newspaper"></i>
    </div>
    <div>
      <span>{{ notification?.date | cusdate | date: 'd MMM y' }}</span>
    </div>
  </div>

  <div class="notification-row__title cell__wrapper cell__wrapper cell__wrapper--bg-light">
    <div></div>
    <div>
      {{ notification?.title }}
    </div>
    <div>
      SOURCE: {{ notification?.sourceName }}
    </div>
  </div>

  <div class="notification-row__info cell__wrapper cell__wrapper cell__wrapper--bg-dark">
    <div class="notification-row__family">
      {{ notification?.family }}
    </div>
    <div *ngIf="notification?.type === 'kpi'">
      <div>
        {{ notification?.labelUp }}
      </div>
      <span [appPosNeg]="notification?.value" icon="symbol">{{ notification?.value | perc:1}}</span><span> in {{ notification?.time }}</span>
    </div>
    <div class="notification-row__position-exposure">
      <span>
        <div>
          POSITIONS
        </div>
        <div>
          {{ notification?.positionsInPortfolio }}
        </div>
      </span>
      <span>
        <div>
          EXPOSURE
        </div>
        <div>
          {{ notification?.portfolioExposure }} {{ notification?.exposureUnit}}
        </div>
      </span>
    </div>
  </div>

  <div class="notification-row__btns">
    <div class="notification-row__button" (click)="goToPortfolio(notification)">Add to Report</div>
    <div class="notification-row__button" (click)="goToPortfolio(notification)">Mark as Read</div>
    <div class="notification-row__button" (click)="goToPortfolio(notification)">See Portfolio</div>
  </div>
</div>

<!-- 

<div class="notification-row__title">{{ notification?.name }}</div>
<div class="notification-row__loan">{{ notification?.loanType }}</div>
<div class="notification-row__time">
  {{ notification?.dateStart }} > {{ notification?.dateEnd }}
  > {{ notification?.dateEnd }}
</div>
<div class="notification-row__state">
  <span class="u-uppercase">{{ notification?.family }}</span>
</div>
<ul class="notification-row__info">
  <li *ngFor="let info of notification?.infos">
    <div>{{ info?.title }}</div>
    <div class="u-strong">{{ info?.data }}</div>
  </li>
</ul> -->