@import '~src/scss/imports';

$row_padding: 10px;

.notification-row__container {
  color: #828282;
  background-color: $color1;
  color: white;
  height: 44px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: $border-radius__default;
  padding: $row_padding;

  .notification-row__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #475FF2;
    height: 26px;
    border-radius: $border-radius__default;
    cursor: pointer;

    &:hover {
      background: rgb(189, 189, 189);
    }
  }
}
