
<app-report-selector></app-report-selector>

<div class="box box--table">
  <div class="box__header box__header--bg">
    <div class="row-justified">
      <div class="title--compound">
        <div class="main__title">
          <span class="u-strong u-uppercase">
            {{name}} <!-- #HC -->
          </span>
        </div>
      </div>
    </div>
    </div>
    <div class="box__body box__body--bg">
      <div class=" cell__wrapper cell__wrapper--bg-dark">
        <div class="row-list--medium">
          <i class="{{icon}}"></i>
        <div>
          <p class="highlighted--big highlighted--color">
            <span># {{ config.total }}</span>
            <small class="u-uppercase highlighted__small--color">
              Units in 200m Radius
            </small>
          </p>
          <div class="list-simple">
            <div>
              <i class="icon--small icos ico-star"></i>
              <i class="icon--small icos ico-star"></i>
              <i class="icon--small icos ico-star"></i>
              <i class="icon--small icos ico-star"></i>
              <i class="icon--small icol ico-star"></i>
            </div>
          </div>
          <div class="list-simple">
            <div>
              <span class="text--success">
                {{ config.closest }} Min
              </span>
              <span>
                  {{ config.legend }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
