<!-- <nav class="navbar navbar--secondary fixed-top"> -->
<div class="left-container">
  <div class="title">FILTER OPTIONS</div>
  <div class="accordion-container">
    <accordion>
      <accordion-group heading="COUNTERPARTS" [isOpen]="true">
        <div class="select-styled">
          <select (change)="onChange($event)">
            <option *ngFor="let option of droplist" [value]="option.id" [selected]="dropvalue == option.id">{{option.name}}</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All Sub Industries</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All GBV Sizes</option>
          </select>
        </div>
      </accordion-group>
      <accordion-group heading="GEOGRAPHY" [isOpen]="true">
        <div class="select-styled">
          <select>
            <option>All Macro Regions</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All Regions</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All Provinces</option>
          </select>
        </div>
        <div class="select-styled">
          <select>
            <option>All City</option>
          </select>
        </div>
      </accordion-group>
      <accordion-group heading="POSITIONS" [isOpen]="true">
        <div class="select-styled">
          <select>
            <option>All Positions Sizes</option>
          </select>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>



<!-- 
<a [routerLink]="['/monitor/portfolios',droplistids[dropvalue]]" [queryParams]="{type: 'industry'}" class="subheader-row__button">See
  Industry Portfolio</a> -->
