<nav class="navbar navbar--secondary fixed-top">
  <div class="select-styled">
    <!-- <select (change)="onChange($event)"> -->
    <!-- <option *ngFor="let opt of config; let i = index" value="{{opt.id}}" [selected]="dropvalue == opt.id">{{opt.value}}</option> -->
    <select>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </div>
  <!-- <div class="navbar__left">
    <div class="back">
      <a [routerLink]="['../']" class="btn btn-ghost-lightest btn--back"><i class="icor ico-chevron-left"></i>Back</a>
      <span>{{ config.client.clientName.value }}</span>
    </div>
  </div>
  <div class="navbar__right">
    <a class="btn btn-ghost-lightest" [routerLink]="['financial']" routerLinkActive="active">Financial</a>
    <a class="btn btn-ghost-lightest" [routerLink]="['state-of-conservation']" routerLinkActive="active">State of Conservation</a>
    <a class="btn btn-ghost-lightest" [routerLink]="['demand-offer']" routerLinkActive="active">Demand & Offer</a>
    <a class="btn btn-ghost-lightest" [routerLink]="['location']" routerLinkActive="active">Location</a>
  </div> -->
</nav>
